{% extends "base.html" %}
{% load block_tags static crispy_forms_tags %}

{% block title %}
    Money To The Masses
{% endblock title %}

{% block bannertext %}
    <div id="left-banner">
        {% get_static_block money-to-the-masses incentive as block %}
        <h2 class="js-banner-title" style="font-size: 30px">{{ block|safe }}</h2>
    </div>
{% endblock bannertext %}

{% block contenthtml %}
    <div id="ifa-landing">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    {% get_static_block money-to-the-masses enquire as block %}
                                    {{ block|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="img-responsive" src="{% static 'img/money_to_the_masses/guide.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-sm-7">
                            {% crispy form %}
                        </div>
                        <div class="col-sm-5">
                            <div class="well well-sm">
                                {% get_static_block money-to-the-masses quote as block %}
                                {{ block|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-sm-12">
                            {% get_static_block money-to-the-masses need-to-know as block %}
                            {{ block|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenthtml %}

