{% extends "products/tables/base_table.html" %}{% load humanize product_filters %}

{% block table_content %}           

<tr class="tdrow info">
  <td colspan="{{total}}"><div class="hider">Term</div></td>
</tr>
<tr class="hide">
  <td colspan="{{total}}">This is the length of time that the savings account runs for.</td>
</tr>
<tr>
{% for product in products %}
  <td>{{product.get_term}}</td>
{% endfor %}
</tr> 

<tr class="tdrow">
  <td colspan="{{total}}"><span class="td-icon"></span>Minimum Deposit</td>
</tr>
<tr>
  {% for product in products %}
    <td>{% if product.minimum %}&pound;{{product.minimum|intcomma}}{% else %}&nbsp;{% endif %}</td>
  {% endfor %}
</tr>

<tr class="tdrow">
  <td colspan="{{total}}"><div class="hider">Tax Free Rate</div></td>
</tr>
<tr class="gr">
  {% for product in products %}
 
    <td class="{% cycle 'odd' ''%}{% if product.is_sc_stamp %} recommended{% endif %}">{% if product.gross_rate %}{{product.gross_rate|floatformat:2}}%{% else %}&nbsp;{% endif%}</td>
  {% endfor %}
</tr>

<tr class="tdrow info">
  <td colspan="{{total}}"><div class="hider">AER</div></td>
</tr>
<tr class="hide">
  <td colspan="{{total}}">This stands for Annual Equivalent Rate and is to help you to compare different savings accounts, even if the interest is paid at different times, or a bonus applies for less than 12 months. The AER indicates the amount of interest you can earn before tax, if you were to leave the money invested for 12 months</td>
</tr>
<tr>
  {% for product in products %}
  <td>{% if product.aer %}{{product.aer|floatformat:2}}%{% else %}&nbsp;{% endif%}</td>
  {% endfor %}
</tr> 

{% include "products/tables/rows/access_row.html" %}
 
 <tr class="tdrow info">
  <td colspan="{{total}}"><div class="hider">Transfers in allowed</div></td>
</tr>
<tr class="hide">
  <td colspan="{{total}}">Not all providers will allow you to transfer in previous tax year ISA accounts, some will only accept new money for the current tax year.</td>
</tr>
<tr>
  {% for product in products %}
    <td>{% if product.is_isa_transfers_in %}Yes{% else %}No{% endif %}</td>
  {% endfor %}
</tr> 
{% include "products/tables/rows/facts_row.html" %}
 {% endblock table_content %}
            