<div class="modal fade edit-password" id="personaldetails" tabindex="-1" role="dialog" aria-labelledby="personaldetailsformLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="personaldetailsformLabel">Change your password</h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'change_password' %}" method="post" class="changepasswordform">
                    {% csrf_token %}
                    {{ passwordform }}
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" value="Change my password" class="btn btn-success js-edit-password"/>
            </div>
        </div>
    </div>
</div>