{% extends "base.html" %}

{% block bannertext %}
<div id="left-banner">
    <h1>Concierge Service</h1>
    <h5>Moving your money around for the best interest rates can be a pain. 
        Let us do it for you</h5>
</div>
{% endblock bannertext %}

{% block contenthtml %}
<div id="concierge">
    <div class="content-width">
        <div class="left-section">
            <div class="summary">
                <h1><span>In a nutshell</span></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Fusce nec massa in mauris tincidunt convallis. Curabitur 
                    elementum eros et tortor aliquam venenatis. Pellentesque ac 
                    lorem sed dolor vehicula pulvinar. Sed mattis malesuada viverra. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nam velit quam, facilisis vitae adipiscing at, tincidunt 
                    feugiat mi. Cras sem diam, porta at consequat nec, dictum sed ante.
                </p>
                <p>
                    Nunc a urna lectus. Vivamus viverra imperdiet tempus. Nunc velit 
                    tortor, dapibus in iaculis eget, convallis a felis. Cras porttitor, 
                    nulla ut fermentum consectetur, eros diam venenatis ante, vitae 
                    ornare libero quam nec neque.
                </p>
            </div>
            <div class="enquiry">
                <h1><span>Enquire Now</span></h1>
            </div>
        </div>
        
        <div class="right-section">
            <div class="testimonial">
                <div class="message">
                    <p>I'm kicking myself for not signing up for this sooner. 
                        I'm earning a very nice sum for basically doing nothing.
                    </p>
                </div>
                <div class="testimonial-source">
                    <p>Somebody, Somewhere</p>
                </div>
            </div>
            <div class="testimonial">
                <div class="message">
                    <p>The extra interest will pay the fee five times over - 
                        and my money is more secure now - what a great service!
                    </p>
                </div>
                <div class="testimonial-source">
                    <p>Somebody, Somewhere</p>
                </div>
            </div>
            
            <div class="faq-block">
                <div class="faq-header">
                    <h3>Frequently asked questions</h3>
                </div>
                <div class="faq-questions">
                    <ul>
                        <li>> What kind of protection do I get from FSCS</li>
                        <li>> Could I end up out of pocket</li>
                        <li>> Are there any hidden costs</li>
                        <li>> Is it easy to cancel my account</li>
                    </ul>
                </div>
                <div class="faq-link">
                    <p>View all ></p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock contenthtml %}

