{% load static %}
<a href="{% url 'in_the_press' %}">
<ul class="bxslider-1">
    <li>
      <img src="{% static 'img/press/bbc.png' %}" alt="BBC Logo" />
  </li>
  <li>
      <img src="{% static 'img/press/daily_telegraph.png' %}" alt="Daily Telegraph" />
  </li>
  <li>
      <img src="{% static 'img/press/daily_mail.png' %}" alt="Daily Mail" />
  </li>
  <li>
      <img src="{% static 'img/press/the_independent.png' %}" alt="The Independent" />
  </li>
  <li>
      <img src="{% static 'img/press/the_guardian.png' %}" alt="The Guardian" />
  </li>
  <li>
      <img src="{% static 'img/press/bbc_radio_2.png' %}" alt="BBC Radio 2" />
  </li>
  <li>
      <img src="{% static 'img/press/bbc_radio_4.png' %}" alt="BBC Radio 4" />
  </li>
  <li>
      <img src="{% static 'img/press/financial_times.png' %}" alt="Financial Times" />
  </li>
  <li>
      <img src="{% static 'img/press/the_times.png' %}" alt="The Times" />
  </li>
  <li>
      <img src="{% static 'img/press/daily_express.png' %}" alt="Daily Express" />
  </li>
  <li>
      <img src="{% static 'img/press/the_observer.png' %}" alt="The Observer" />
  </li>
  <li>
      <img src="{% static 'img/press/morningstar.png' %}" alt="Morning Star" />
  </li>
  <li>
      <img src="{% static 'img/press/sunday_telegraph.png' %}" alt="Sunday Telegraph" />
  </li>
  <li>
      <img src="{% static 'img/press/the_courier.png' %}" alt="The Courier" />
  </li>
  <li>
      <img src="{% static 'img/press/bbc_radio_5_live.png' %}" alt="BBC Radio 5 Live" />
  </li>
  <li>
      <img src="{% static 'img/press/yahoo_news.png' %}" alt="Yahoo News" />
  </li>
</ul>
</a>