<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style media="all" type="text/css">
            a:link, a:visited {
                 color:#000000;
                 text-decoration:none;
            }
        </style>
	</head>	
	<body style="text-align: left; max-width: 600px; font-style: helvetica; font-size: 14px;" align="justify">
	    <img src="https://www.savingschampion.co.uk/static/img/email_logo.png" alt="Savings Champion Logo" style="display: inline; padding-right: 40px;"/>
        <img src="https://www.savingschampion.co.uk/static/img/tim_email_logo.png" alt="This is Money Logo" style="display: inline; padding-top: 10px;" />
        <p style="color: #B2B2B2;"><u><strong>Find the best rate, keep the best rate</strong></u></p>           
	    <table>
	        <tr>
	            <td width=600>
            		
            	
            		<p style="width:auto;">
            			Dear {{username}},
            		</p>
            		
            		<p style="text-align: center; font-weight: bold; text-decoration: underline; width: 300px; margin: auto;">
            			WELCOME TO RATE TRACKER
        			</p>
            		<p style="text-align: center; font-weight: bold; text-decoration: underline; width: 300px; margin: auto;">
            			Shining a light on your savings rates
            		</p>
            		
            		<p>
            			Thank you for signing up to our free and unique <strong>Rate Tracker</strong> which is designed 
            			to keep you informed about your savings accounts, to help you keep on the best rate, always.
            		</p>
            		
            		<p>
            			We monitor the WHOLE UK savings market and email you 
            			with details of your savings account changes, which your 
            			provider may not. These changes include:
            		</p>
            		
            		<ul>
            			<li>If there is a <strong>rate change</strong> on your variable rate account</li>
            			<li>If your <strong>bonus</strong> is due to <strong>expire</strong></li>
            			<li>If your <strong>fixed rate</strong> product is coming up to <strong>maturity</strong></li>
            		</ul>
            		
        		        
            		<p>
            			Please remember, Rate Tracker is only as good as the
            			information you provide, so make sure you keep your <a href="https://thisismoney.savingschampion.co.uk/rate-tracker/"><strong>portfolio</strong></a> up to date so you can benefit from this <strong><u>free</u></strong> service.
            		</p>
            		
            		<p>
            			If you've enjoyed using Rate Tracker and found it valuable, <strong><u>please tell your friends</u> 
            			by forwarding this email so they 
            			can make sure they always get the best rate too.</strong> 
            		</p>
            		
            		<p>
            			The more savvy savers there are out there, the harder the banks and building societies 
            			will have to compete for our money.
            		</p>
            		
            		<p>
            			<strong>Need anything else?</strong>  We offer a range of tools to help you to make the most of 
            			your money so in case you opted out of them on our registration page, check out our: 
            		</p>
            		
            		<ul>
            			<li><strong><u><a href="https://thisismoney.savingschampion.co.uk/newsletters/rate-alerts/" style="color:#000000; text-decoration: none;">Rate Alerts</a></u></strong>
            			     – Be the first to know of new best buys or last chance tips if they’re due to be pulled</li>
            			<li><strong><u><a href="https://thisismoney.savingschampion.co.uk/newsletters/" style="color:#000000; text-decoration: none;">Newsletters</a></u></strong>
                             – News and views on the world of savings including “what’s hot and what’s not” </li>
        			</ul>
        			
        			<p>
                        In addition you might be interested in:
                    </p>
        			<ul>
            			<li><strong><u><a href="https://twitter.com/savingschampion" style="color:#000000; text-decoration: none;">Twitter</a></u></strong>
            			     – For up to the minute information on savings rates so you’re always in the know </li>
            			
            			<li><strong><u><a href="http://thisismoney.savingschampion.co.uk/about-us/contact-us/" style="color:#000000; text-decoration: none;">Savings Assistance</a></u></strong>
            			     – Need some assistance? Call one of our dedicated savings advisers who are on hand to help with any savings related queries or just simply to talk you through the best rates</li>
            		</ul>
            		
            		<p>
            			Thanks again for taking the time to sign up to our <strong>Rate Tracker</strong> service.  We hope you find it useful now and in the future.
            		</p>
            		
            		<p>
            			Kind Regards
            		</p>
            		
            		<p>
            			Anna &amp; Sue
            		</p>
            		
            		<p style="font-weight: bold;">
            			Email: info@savingschampion.co.uk
            		</p>
            		
            		<p style="font-weight: bold;">	
            			Tel: 0800 321 3582
            		</p>
            		
            		<p>
            			<strong>Savingschampion.co.uk</strong> serving savers in three simple ways:
            		</p>
            		
            		<ol style="font-weight: bold;">
            			<li><a href="https://thisismoney.savingschampion.co.uk/best-buys/tables/" style="color:#000000; text-decoration: none;">Best Buy Tables</a>
            			     - Completely unbiased. Truly independent.</li>
            			<li><a href="https://thisismoney.savingschampion.co.uk/rate-tracker/1-minute-rate-check/" style="color:#000000; text-decoration: none;">Rate Tracker</a>
            			     - Market leading free service. Take the One Minute Rate Check</li>
            			<li><a href="https://thisismoney.savingschampion.co.uk/rate-concierge/" style="color:#000000; text-decoration: none;">Rate Tracker Concierge</a>
            			      - Reducing risk and finding the best rates for savers with £250,000+</li>
            		</ol>
				</td>
			</tr>
		</table>
	</body>
</html>

