{% extends "thisismoney/timHeader.html" %}


{% load product_tags product_filters humanize %}
{% block title %}Stay on the best rates. Thank for registering with Rate Tracker  {% endblock title %}
{% block content %}

<div id="resultsMain">
	 <div id="messageContainer">
	    <div id="registrationCompleteMessage">	    	
	    	
	    	<div class="summary">	    		
	    		Thank you for registering with Rate Tracker, the market leading free savings service that helps you keep the best rate, always. 
				<br /><br />
				We monitor the WHOLE UK savings market and keep you informed of any changes to your savings accounts, so you don’t have too.
 				<br /><br />
				You will now receive an email requesting your confirmation of registration.  <strong><u>PLEASE CHECK YOUR EMAIL</u></strong> and click on the link to complete the process.
				
	    	</div>	    	
    	</div>	
    </div>
    
</div>

{% endblock content %}
