<!doctype html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{STATIC_URL}}css/thisismoney.css">
</head>

<div id="money">
    <div id="tim-nav">
        <ul>

                        <li>
                            <a href="http://www.thisismoney.co.uk/" class="current" target="_blank">Money Home</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/markets/index.html" target="_blank">Markets</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/saving/index.html" target="_blank">Saving &amp; banking</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/investing/index.html" target="_blank">Investing</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/bills/index.html" target="_blank">Bills</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/cars/index.html" target="_blank">Cars</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/holidays/index.html" target="_blank">Holidays</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/cardsloans/index.html" target="_blank">Cards &amp; loans</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/pensions/index.html" target="_blank">Pensions</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/mortgageshome/index.html" target="_blank">Mortgages &amp; home</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/experts/index.html" target="_blank">Experts</a>
                        </li>
        </ul>
    </div>
    
    <img src="{{STATIC_URL}}img/timFooterLogo.png" />
    <p>This is Money is part of the Daily Mail, The Mail on Sunday & Metro Media Group</p>
    <p>&copy; Associated Newspapers Limited 2011</p>
    
    <div id="footerlinks">
        <a href="http://thisismoney.co.uk/money/sitemap.html" target="_blank" >Sitemap</a>
        <a rel="nofollow" target="_blank" href="http://www.mailconnected.co.uk/">Advertise with us</a>
        <a href="http://thisismoney.co.uk/money/makemoney" target="_blank" >About us</a>
        <a href="http://thisismoney.co.uk/money/contactus" target="_blank">Contact us</a>
        <a href="http://thisismoney.co.uk/money/terms" target="_blank">Terms</a>
        <a href="http://thisismoney.co.uk/money/privacy"   class="last" target="_blank">Privacy policy &amp; cookies</a>
        <a href="http://thisismoney.co.uk/money/additionalcookieinfo" title="Find out more information about cookies on this website" class="cookies last" target="_blank"><img src="{{STATIC_URL}}img/tim_logo_cookie_reg.png" alt="Cookie regulation logo" width="12" height="12" /></a>
    </div>
</div>
</html>