<!doctype html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{STATIC_URL}}css/thisismoney.css">
    <script type="text/javascript" src="{% if request.is_secure %}https{% else %}http{% endif %}://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f32a3e419fd339f"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery.infieldlabel.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery.validate.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/slides.min.jquery.js"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>


</head>
<div id="money">
    <img src="{{STATIC_URL}}img/TiMBanner.png" />
    <div id="tim-nav">
        <ul>

                        <li>
                            <a href="http://www.thisismoney.co.uk/" class="current" target="_blank">Money Home</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/markets/index.html" target="_blank">Markets</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/saving/index.html" target="_blank" >Saving &amp; banking</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/investing/index.html" target="_blank">Investing</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/bills/index.html" target="_blank">Bills</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/cars/index.html" target="_blank">Cars</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/holidays/index.html" target="_blank">Holidays</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/cardsloans/index.html" target="_blank">Cards &amp; loans</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/pensions/index.html" target="_blank">Pensions</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/mortgageshome/index.html" target="_blank">Mortgages &amp; home</a>
                        </li>

                        <li>
                            <a href="http://www.thisismoney.co.uk/money/experts/index.html" target="_blank">Experts</a>
                        </li>
        </ul>
    </div>
</div>
