<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-1">
                <div class="alert alert-danger">
                    <p>{{ concierge_enquiries.count }}</p>
                </div>
                <p>Concierge Enquiries</p>
            </div>
            <div class="col-md-1">
                <div class="alert alert-danger">
                    <p>{{ adviser_clients_pending }}</p>
                </div>
                <p>Claimed Leads</p>
            </div>
            <div class="col-md-1">
                <div class="alert alert-info">
                    <p>{{ adviser_clients_contacted }}</p>
                </div>
                <p>Contacted Leads</p>
            </div>
            <div class="col-md-1">
                <div class="alert alert-info">
                    <p>{{ adviser_clients_fact_find }}</p>
                </div>
                <p>Fact Find</p>
            </div>
            <div class="col-md-1">
                <div class="alert alert-info">
                    <p>{{ adviser_clients_illustrated }}</p>
                </div>
                <p>Illustrated</p>
            </div>
            <div class="col-md-2">
                <div class="alert alert-success">
                    <p>{{ adviser_clients_recommendation }}</p>
                </div>
                <p>Recommendation</p>
            </div>
            <div class="col-md-1">
                <div class="alert alert-success">
                    <p>{{ adviser_clients_signed }}</p>
                </div>
                <p>Signed Up</p>
            </div>
            <div class="col-md-1">
                <div class="alert alert-info">
                    <p>{{ adviser_clients_unsuitable }}</p>
                </div>
                <p>Unsuitable</p>
            </div>
            <div class="col-md-1">
                <div class="alert alert-info">
                    <p>{{ adviser_clients_fake }}</p>
                </div>
                <p>Fake</p>
            </div>
            <div class="col-md-1">
                <div class="alert alert-info">
                    <p>{{ adviser_clients_emailed }}</p>
                </div>
                <p>3 Calls + Emailed</p>
            </div>
        </div>
    </div>
</div>
