<div class="modal fade js-delete-box-modal" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog">
        <div class="modal-content js-delete-box-modal-content">
            <div class="modal-body">
                <h3>Are you sure?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, Close without deleting</button>
                <a class="yes-link btn btn-primary" href='#'>Yes, Delete this account</a>
            </div>
        </div>
    </div>
</div>