{% load crispy_forms_tags %}
<div class="js-opening-date-form modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="opening-date-form" action="{% url 'add_opening_date' %}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add a Variable Rate Product</h4>
                </div>

                <div class="modal-body">
                    {% crispy opening_date_form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close Without Saving</button>
                    <input class="btn btn-primary" type="submit" value="Add Opening Date"/>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->