/* Table of Content
==================================================
	#Header
	#Navigation
	#Pre Content
	#Carousel
	#Recent Articles
	#Articles
	#Best Buy Table
	#Best Buy Chart
	#Rate Tracker
	#Icons
	#Sidebar
	#Tabs
	#Forms
		- Decision Tree
	#Post Content
	#Footer
	#Tag
    #Sign Up Bar
    #Jargon Buster
	#paginator
	#Concierge
	#PortfolioEditForm
*/

/* #Header
================================================== */
#login ul {
	margin:0;
}
#login .social {
	float:left;
	padding-top:10px
}
	#login .social li,
	#login .social a{
		float:left;
	}
	#login .social a {
		background: url(../../img/social.png) no-repeat 0 0 transparent;
		height: 21px;
		width: 11px;

		}
		#login .social .twitter a {
			background-position: -11px 0;
			width:21px;
		}

#login .auth {
	float:right;
	}
	#login .auth li,
	#login .auth a {
		float:left;
		display:inline;
	}
	#login .auth a {
		padding:10px 15px;
		margin-right:1px;
	}
	#login .auth .login a,
	#login .auth .logout a {
		background: #f2f2f2;
		color:#384343;
	}
	#login .auth .register a {
		color:#fff;
		background:#4fbb30;
	}
	#login .auth .signup a {
		color:#fff;
		background:#ee7500;
	}
#branding {
	position:absolute;
	top:25px;
	left:0;
}
#search-wrap {
	position:absolute;
	top:25px;
	right:0;
	}
	.helpline {
		font-size:23px;
		color:#bebcbc;
		font-weight:bold;
		text-transform:uppercase;
		font-family: Arial,Helvetica,sans-serif;
		line-height:26px;
		text-align:right;
	}
	.helpline span {
		display:block;
		font-size:27px;
		color:#384343;
	}
	.search .text {
		background:#fff;
		border:3px double #e9e9e9;
		width:200px;
		float:left;
		margin-right:5px;
	}
	.search .button {
		float:left;
	}
.tb .htag {
    color: #FFF;
    font-size: 20px;
    font-style: italic;
    left: 270px;
    position: absolute;
    top: 0;
}
.tb .tel {
    color: #FFF;
    font-size: 14px;
    position: absolute;
    top:2px;
    right:20px;
}
/* #Navigation
================================================== */
#nav-wrap {
	background:#eee;
	background:rgba(237,237,237,0.8);
	border-top:1px dashed #c6c6c6;
	border-bottom:1px dashed #c6c6c6;
}
#main-nav {
	list-style-type:none;
	position:relative;
	z-index:5;
	margin:0;
	}
	#navigation li,
	#navigation a {
		float:left;
		display:inline;
	}
	#main-nav a {
		padding:10px 17px;
		display:block;
		font-size:17px;
		font-family: Arial,Helvetica,sans-serif;
	}
	#main-nav sup {
		display:inline;
		font-size:15px;
		line-height:15px;
		vertical-align:10%;
	}
	
	#main-nav a:hover {
		background:#384343;
		color:#fff;
		text-decoration:none;
	}
	#main-nav .active a {
		background:#ee7500;
		color:#fff;
	}
	#main-nav .bbactive a {
		background:#2AB8E7;
		color:#fff;
	}
	#main-nav .rtactive a {
		background:#4FBB30;
		color:#fff;
	}
	#main-nav .isaactive a {
		background:#29DCD6;
		color:#fff;
	}
	
#sub-nav {
	background:#384343;
	border-top:3px solid #ee7500;
	position:relative;
	z-index:5;
	margin:0;
	top:-1px;
	}
	#sub-nav strong{
  color:#fff;
  }
	#sub-nav li {
		position:relative;
	}
	#sub-nav a {
		color:#fff;
		display:block;
		padding:5px 20px;
	}
	#sub-nav .ind{
		background: url("../../img/sub-nav-bg.png") no-repeat scroll center center transparent;
		bottom: -7px;
		display: none;
		height: 9px;
		left: 0;
		position: absolute;
		width: 100%;
	}
	#sub-nav .active .ind,
	#sub-nav a:hover .ind {
		display:block;
	}

/* #Pre Content
================================================== */
#pre-content h1 {
	border-bottom:1px solid #e4e4e4;
	background:url('../../img/sq-lrg.png') no-repeat 0 0 transparent;
	padding:10px 0 0 55px;
}
.bestbuy-comparison #pre-content blockquote{
  width:650px;
}
.bestbuy-comparison .market-overview {
	margin-bottom:0;
}
.market-overview-desc {
 	font-size:16px;
	font-family: "Times New Roman", 'Times', 'Georgia', serif;
	width:680px;
	float:left;
}

.tracker-page #precontent h1 {
	background:url('../../img/tri-lrg.png') no-repeat 0 0 transparent;
	margin-bottom: 30px;
  margin-top: -30px;
  padding-left: 70px;
  line-height:58px;
  zoom:1;
}
.isa #precontent h1 {
	background:url('../../img/isa-lrg.png') no-repeat 0 0 transparent;
}
#pre-content blockquote {
    margin: 0;
    padding: 0 20px 0 50px;
	width:500px;
	float:left;
}
#pre-content img {
	float:right;
}
.bb-tool {
	width:400px;
	float:right;
	padding-right:10px;
	}
	.bb-tool h2 {
		background:#384343;
		font-size:30px;
		padding:20px;
		color:#fff;
		margin:0;
		cursor:pointer;
	}
	.js .bb-tool h2 span {
		display:block;
		background:url('../../img/bb-state.png') no-repeat 0 0 transparent;
		height:29px;
		width:29px;
		float:right;
		position:relative;
		top:5px;
	}
	.js .bb-tool h2.open span {
		background-position:0 -29px;
	}
	.bb-tool h2.open {
		background:#2ab8e7;
	}
	.bb-tool form {
		background:#eceded;
		padding:30px 20px;
		position:absolute;
		display:none;
		width:360px;
		z-index:5;
		-moz-box-shadow:0 50px 100px #a1a9aa;
		-webkit-box-shadow:0 50px 100px #a1a9aa;
		box-shadow:0 50px 100px #a1a9aa;

		}
		.bb-tool select{width:138px;float:right; margin:0}
		.bb-tool p {
			margin-bottom:0;
			position:relative;
			padding-left:50px;
			margin-bottom:25px;
		}
		.bb-tool p.monthly {
			border-bottom:1px dashed #bdbebe;
			padding-bottom:25px;
			margin-bottom:15px;
		}
		.bb-tool .ico {
			left:0px;
			top:-5px;
		}
		.bb-tool label {
			font-size:17px;
			float:left;
			font-family: "Times New Roman", 'Times', 'Georgia', serif;
		}
		.bb-tool .text {
			width:130px;
			border:none;
			float:right;
			margin:0;
		}
		.bb-tool .button {
			border:none;
			float:right;
			color:#fff;
			margin:0;
			background:#2ab8e7;
			font-size:21px;
			font-family: "Times New Roman", 'Times', 'Georgia', serif;
			padding:3px 10px;
		}

.h-nav {
	border:1px solid #dcdcdc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	padding:10px;
	margin:0 20px 40px 20px;
	}
	.h-nav ul {
		list-style:	none;
		font-size:18px;
		font-family: "Times New Roman", 'Times', 'Georgia', serif;
		margin:0;
		padding:10px 20px;
	}
	.h-nav li,
	.h-nav a {
		float:left;
	}
	.h-nav a {
		padding:0 20px 0 60px;
		position: relative;
		width:120px;
		margin-right:15px;
	}
	.h-nav span {
		background:url(../../img/h-nav-ico.png) no-repeat 0 0 transparent;
		display:block;
		position:absolute;
		top:0;
		left:0;
		}
		.h-nav .best-buy span {
			height:47px;
			width:47px;
		}
		.h-nav .rate-check span {
			height:52px;
			width:52px;
			background-position:0 -47px;
		}
		.h-nav .rate-track span {
			height: 48px;
			width: 50px;
			background-position:0 -99px;
		}
		.h-nav .isa-track span {
			height: 48px;
			width: 50px;
			background-position:0 -147px;
		}
                .h-nav .concierge span {
                        height: 48px;
                        width: 50px;
                        background:url(../../img/concierge.png) no-repeat 0 0 transparent;
                }

		.h-nav .isa-track a {
			margin:0;
		}


/* #Carousel
================================================== */
	#slides .next,
	#slides .prev {
		position:absolute;
		background:url(../../img/carousel-arrows.png) no-repeat 0 0 #dcdcdc;
		display:block;
		width:35px;
		height:100%;
		text-indent: -999em;
		overflow: hidden;
		background-repeat: no-repeat;
		text-align: left;
		direction: ltr;
		position:absolute;
	}
	#slides .next {
		top:0;
		right:0;
		background-position:-35px 0;
		}
		#slides .next:hover {
			top:0;
			right:0;
			background-position:-70px 0;
		}
	#slides .prev {
		top:0;
		left:0;
		}
		#slides .prev:hover {
			top:0;
			left:0;
			background-position:-105px 0;
		}
	#slides .pagination {
		list-style-type:none;
		margin:0;
		margin-top:10px;
		position:relative;
		top:-15px;
		z-index:100;
		float:right;
		}
		#slides .pagination a,
		#slides .pagination li {
			float:left;
		}
		#slides .pagination a {
			font-size:19px;
			font-family: "Times New Roman", 'Times', 'Georgia', serif;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			background:#c7c9c9;
			padding: 1px 7px;
			color: #fff;
			font-weight:bold;
		}
		#slides .pagination a:hover,
		#slides .pagination .current a {
			background:#384343;
			text-decoration:none;
		}


.slides_container {
	width:980px;
	height:300px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.slides_container .slide {
	width:980px;
	height:360px;
	display:block;
}
#slides .steps h1 {
	font-size:33px;
	border-bottom: 1px solid #dedede;
	line-height:50px;
	margin-bottom:-3px;
	padding-bottom:10px;
}
#slides .steps h2 {
	margin-bottom:0px;
}
#slides h1 {
	font-size:33px;
	border-bottom: 1px solid #dedede;
	line-height:50px;
	margin: 0;
}

#slides h3 {
	margin: 0;
	padding: 0;	
}
.steps ul {
	list-style-type:none;
	background:url(../../img/squigs.png) no-repeat 0 0 transparent;
	padding:50px 0;
	}
	.steps li {
		width:290px;
		float:left;
	}
	.steps li a {
		padding:10px 10px 10px 130px;
		margin-left:15px;
		display:block;
		cursor: pointer;
		position:relative;
	}
	.steps li div.step {
		padding:10px 10px 10px 130px;
		margin-left:15px;
		display:block;
		cursor: auto;
		position:relative;
	}
	.steps li a span.text, .steps li div.step span.text{
		background:#F2F2F2;
		border-radius: 5px 5px 5px 5px;
		display: block;
		left: -40px;
		padding: 10px 10px 10px 40px;
		position: relative;
		width: 155px;
		z-index: 5;
		font-size:17px;
		font-family: "Times New Roman", 'Times', 'Georgia', serif;

	}
	.steps li a .text .call, .steps div.step .call{
		display:block;
		height:21px;
		width:21px;
		background:url(../../img/hparrs.png) no-repeat 0 0 transparent;
		position:absolute;
		bottom:10px;
		right:10px;
	}
	.steps li.second a .text .call {
		background-position:0 -21px;
	}
	.steps li.third  .text .call{
		background-position:0 -42px;
	}
	.steps li a:hover {
		text-decoration:none;
	}
	.steps li a:hover span.text {
		background:#f6f6f6;
		text-decoration:none;
	}
	.steps li.mid {
		margin:0 25px;
	}
	.steps li .num {
		background:url(../../img/steps.png) no-repeat 0 0 transparent;
		width:43px;
		height:43px;
		display:block;
		position:absolute;
		top:-12px;
		left:-15px;
		z-index:15;
	}
	.steps .second .num {
		background-position:0 -43px;
	}
	.steps .third .num {
		background-position:0 -86px;
	}
	.steps li .icon {
		background:url(../../img/steps-icon.png) no-repeat 0 0 transparent;
		width:117px;
		height:117px;
		display:block;
		position:absolute;
		top:-5px;
		left:0;
		z-index:10;
	}
	.steps .second .icon {
		background-position:0 -117px;
		height:116px;
	}
	.steps .third .icon {
		background-position:0 -232px;
	}

.hero-content {
    float: left;
    width: 625px;
	}
	.hero-content p{
 		font-family: "Times New Roman",'Times','Georgia',serif;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0;
	}
	
	.hero-content .link {
		background:url(../../img/heroarr.png) no-repeat 100% 50% #EE7500;
		padding: 11px 50px 15px 20px;
		font-size:23px;
		line-height:28px;
		font-weight:bold;
		color: white;
		float:right;
		margin:20px 0;
	}

.hero-content ul{
    margin-bottom: 10px;
    padding: 0;
	}
	
.hero-image {
	float:right;
}
/* #Sign Up Forms
================================================== */
.newsletter,
.rate-alerts {
	width:300px;
	float:left;
	background:#ededed;
}
.newsletter {
	margin-right:20px;
	}
	#content .newsletter a,	#content  .rate-alerts a { color:#fff;
		text-decoration:none;
		}
		#content .newsletter a:hover, 	#content .rate-alerts a:hover { color:#fff;
		text-decoration:underline;
		}

	.newsletter h2,
	.rate-alerts h2 {
		color: #FFFFFF;
		font-size: 23px;
		font-style: italic;
		line-height: 28px;
		padding: 10px 100px 10px 20px;
	}
	.newsletter h2 {
		background:url(../../img/newsletter.png) no-repeat 100% 50% #ee7500;
	}
	.rate-alerts h2 {
		background:url(../../img/alerts.png) no-repeat 100% 50% #384343;
	}
	.newsletter form,
	.rate-alerts form {
		padding:10px 20px;
	}
.news-rate-wrap {
	margin-bottom:50px;
}
/* #Recent Articles
================================================== */
.recent-articles {
	background:#fff;
	}
	.recent-articles h2.savings-news {
		font-size:30px;
		border-bottom:1px solid #e8e8e8;
		line-height:45px;
		padding-bottom:10px;
		margin-bottom:30px;
	}
	#content .recent-articles a {
		text-decoration:none;
	}
	#content .recent-articles a:hover {
		text-decoration:underline;
	}
.recent-articles .biog .ir,
.bio-title .ir,
.cial .twitter{
	width:16px;
	height:16px;
	float:right;
	background:url(../../img/twit-ico.png) no-repeat 0 0 transparent;
	margin-top:13px;
	margin-left:5px;
}
.recent-articles .biog .twitter,
.bio-title .twitter {
	background-position:-16px 0;
}
.recent-articles .biog a:hover,
.bio-title a:hover {
	background-position:0 -16px;
}
.recent-articles .biog a.twitter:hover,
.bio-title .twitter:hover {
	background-position:-16px -16px;
}
.cial a.twitter {
    float: left;
    margin: 10px 10px 0 0;
	background-position:-16px -16px;
}
.recent-articles .article {
	float:right;
	width:400px;
}
.recent-articles .biog {
	float:left;
	margin-right: 20px;
    width: 200px;
	}
	.recent-articles h2 {
		font-size:24px;
		border-bottom:1px dashed #e8e8e8;
	}
	.recent-articles h3 a {
		font-size:18px;
		font-family: Arial, Helvetica, sans-serif;
	}

.recent-article h3 {
	font-size:19px;
	border-bottom:1px dashed #bdbebe;
	margin-bottom:0;
	}
	.recent-article h3 span {
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		float:right;

	}
.recent-article .teaser {
	padding:15px 0;
	position:relative;
	margin-bottom:25px;
	}
.recent-articles .first {
		border-bottom:1px solid #e8e8e8;
		padding-bottom:30px;
		margin-bottom:30px;
}


/* #Articles / Biography
================================================== */
.sc-article,
.sc-bio{
	position:relative;
	}
	.sc-article .bio-img,
	.sc-bio .bio-img {
		position:absolute;
		top:0;
		left:0;
	}
	.sc-article .article-content,
	.sc-bio .bio-content {
		padding-left:145px;
		}
		.sc-article h2,
		.sc-bio h1 {
			font-size:27px;
			font-family: "Times New Roman", 'Times', 'Georgia', serif;
			border-bottom:1px solid #e8e8e8;
			font-style:italic;
		}
		#content .sc-article h2 a  {
			text-decoration:none;
		}
		#content .sc-article h2 a:hover {
			text-decoration:underline;
		}
		.sc-bio h1 {
			font-size:30px;
		}
		.sc-article .date {
			color:#b5b0b0;
			font-family: "Times New Roman", 'Times', 'Georgia', serif;
			font-style:italic;
			font-size:19px;
		}
		.sc-article .read-more {
			color:#384343;
			font-size:15px;
			font-style:italic;
			font-family: "Times New Roman", 'Times', 'Georgia', serif;
			display:block;
			padding-bottom:30px;

	}
h1.title,
.guide-header{
	border-bottom:1px solid #e8e8e8;
}
.guide-header {
	margin-bottom:25px;
	padding-top:30px;
}
.guide-header h1 {
	float:left;
	line-height:40px;
	margin:0;
}
.guide-header .meta {
	float:right;
	line-height:40px;

}.guide-header .meta span {
	color:#bab5b5;
	font-size:15px;
	font-family: "Times New Roman", 'Times', 'Georgia', serif;
	font-style:italic;
}
#content .back {
	color:#fff;
	font-size:15px;
	font-family: "Times New Roman", 'Times', 'Georgia', serif;
	background:url('../../img/dsarrow.png') no-repeat 5px center #384343;
	padding:2px 8px 2px 15px;
	font-style:italic;
	text-decoration:none;
	position:absolute;
	top:0;
	right:0;
}
#content .back:hover {
	color:#fff;
	}
/* #Best Buy Table
================================================== */
.bb-landing #pre-content blockquote{width:450px;}
#bestbuys-table,
#your-table{
	margin-bottom:25px;
	border-top:none;
	border-bottom:1px solid #ccc;
	border-left:1px dashed #e1e2e2;
	border-right:1px dashed #e1e2e2;
	}
	#bestbuys-table span.numbers{
	  background-color:#384343;
	   -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    width:60px;
    color:#fff;
    display:inline-block;
    position:relative;

  }
  #bestbuys-table span.recommended{
	background:url('../../img/recommended.png') no-repeat center transparent;
    height: 36px;
    width: 36px;
    left: -10px;
    position: absolute;
    top: -9px;
  }
  #bestbuys-table th {text-align: center;}
	#bestbuys-table th,
	#bestbuys-table td,
	#your-table th,
	#your-table td{
		border-left:1px dashed #e1e2e2;
		border-right:1px dashed #e1e2e2;
		border-top:1px solid #dfe0e0;
		border-bottom:1px solid #dfe0e0;
		padding: 8px; 
		width: auto;
		max-width: 180px;
	}
	#bestbuys-table .gr td{
		font-weight:bold;
	}
	#bestbuys-table	.gr td {
		color:#2AB8E7;
	}
	#bestbuys-table .gr .recommended {
		color:#FBCF5A;
		background:#F8F0DB;
	}
	#bestbuys-table col.odd {
		background:#f8f8f8;
	}
	 #bestbuys-table .odd,
	 #your-table .odd{
		background:#f8f8f8;
	}

	#bestbuys-table .gr td{
    background:#d7e9f3;
  }
  #bestbuys-table .gr .odd{
    background:#F2F7FA;
  }
	#bestbuys-table .even,
	#your-tabe .even{
		background:#e2e2e2;
	}
	#bestbuys-table .tdrow,
	#your-table .tdrow{
		background:#f2f2f2;
		font-size:15px;
		font-weight:bold;
		}
		#your-table .tdrow td {
			border-left:none;
			border-right:none;
		}
		#your-table .tdrow td.your-info {
			font-weight:normal;
			font-size:12px;
		}

	#bestbuys-table th {
		border-top:none;
		font-size:45px;
		line-height:60px;
		font-family: "Times New Roman", 'Times', 'Georgia', serif;
	}
	#bestbuys-table th span {
		display:block;
	}
	#bestbuys-table .gr {
		font-size:31px;
		font-family: "Times New Roman", 'Times', 'Georgia', serif;
		line-height:60px;
	}
	#bestbuys-table .pr {
		background:#fff;
	}
	#bestbuys-table .pr .wrap {
		position:relative;
		height:65px;
                width: 130px;
                min-width: 130px;
	}
	#bestbuys-table .an td {
		padding-top:20px;
	}
	#bestbuys-table .pr .arr {
		background:url(../../img/pr-arr.png) no-repeat center 0 transparent;
		display:block;
		width:146px;
		height:42px;
		position:absolute;
		bottom:-50px;
		left:-8px;
	}

	#printButton{
		text-align: right;
		padding-bottom:10px;	
	}
  .bb-info{position:absolute; left:-50px; top:-5px;}
  .bb-info{background:url('../../img/question-right.png') no-repeat center transparent; display:block; width:41px; height:32px; cursor:pointer}
  div.hider{position:relative;}
  div.your-income{height:50px;}
  h2.your-income{width:400px; float:left;}
  a.back-to-tool{background:url('../../img/back-to-tool.png') no-repeat center transparent; padding-left:20px; display:inline-block; width:167px; height:25px; float:right; color:#fff; line-height:25px; margin-top:8px;}

/* #Best Buy Chart
================================================== */


a.viewtable {
	background: url("../../img/arrow.png") no-repeat 95% center #2AB8E7;
    color: #fff;
    font-family: "Times New Roman",'Times','Georgia',serif;
    font-size: 27px;
	font-weight:bold;
    padding: 5px 30px 5px 10px;
    float: right;
	display:block;
	line-height:34px;
}
a.viewtable:hover {

}
.bestbuys-chart-wrap {
	position:relative;
	margin-left:-70px;
	padding:0 0 25px 0;
	width:680px;
	border-left:1px solid #fefefe;
	border-right:1px solid #fefefe;
	margin-bottom:10px;
}
.bestbuys-chart-wrap .sep {
	background:url('../../img/bbcompare-bg.png') repeat-y 0 center transparent;
	position:absolute;
	top:center;
	right:center;
	display:block;
	height:100%;
	width:1px;
	top:0;
	left:50%;
}
.bestbuys-chart-wrap .min,
.bestbuys-chart-wrap .max,
.bestbuys-chart-wrap .mid {
	position:absolute;
    font-family: "Times New Roman",'Times','Georgia',serif;
	font-size:14px;
}
.bestbuys-chart-wrap .min {
	bottom:0;
	left:5px;
}
.bestbuys-chart-wrap .max {
	bottom:0;
	right:5px;
}
.bestbuys-chart-wrap .mid {
	bottom:0;
	left:325px;
}
#bestbuys-chart {
	list-style-type:none;
	margin-bottom:0;
	}
	#bestbuys-chart li {
		height:30px;
		background:#cfd8d8;
		margin-bottom:1px;
		position:relative;
		cursor:pointer;
		}
		#bestbuys-chart li a{
			display:block;
			text-decoration:none;
		}
		#bestbuys-chart li .bar {
			height:100%;
			background:#69CDED;
			display:block;
		}
		/*#bestbuys-chart li.hover .bar {
			background:#60C6E5;
		}*/
		div.bestbuys-chart-axis{margin-left: -70px; margin-top:-15px;
					padding: 0;
    				width: 680px;
    				font-family: "Times New Roman",'Times','Georgia',serif;
    				text-align:center;}
	#bestbuys-chart .active {
		background:#c1cccc;
	}
		#bestbuys-chart .active .bar {
			background:url('../../img/active-bar.png') no-repeat center #2ab8e7;
		}
		#bestbuys-chart li .max-rate {
			position:absolute;
			top:0;
			right:-90px;
			font-family: "Times New Roman", 'Times', 'Georgia', serif;
			height:30px;
			line-height:15px;
			text-align:right;
		}
		#bestbuys-chart li .max-rate span {
			font-size:30px;
			line-height:30px;
			color:#2ab8e7;
			display:block;
		}

.clearfont {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

.pre-post {
	width:930px;
	margin:0 auto;
	padding:25px;
	}
	.pre-post h2 {
		font-size:29px;
		border-bottom:1px solid #e8e8e8;
		padding-bottom:10px;
	}
	.pre-post .content {
		float: left;
		padding-right: 30px;
		width: 600px;
	}
	.pre-post .viewtable, #bestbuys-table .viewtable {
		text-decoration:none;
		float:right;
		color:#384343;
		font-size:21px;
		border:1px solid black;
		text-align: center;
		margin-left: 10px;
		margin-right: 10px;
		padding-top:0;
		padding-bottom:0;
		background:url('../../img/barrow.png') no-repeat 95% center #FFF;
	}
	.pre-post span {
		font-family: "Times New Roman", 'Times', 'Georgia', serif;
		font-style:italic;
		font-size:15px;
		font-weight:bold;
	}
/* #Rate Tracker
================================================== */
.tracker-page,
.tracker-page #content  {
	background:#f7f7f7;

	}
.tracker-page #precontent-wrap {
	background:#f2f2f2;
	margin-bottom:0px;
}
.tracker-page #precontent{
	background:#f2f2f2;
	position:relative;
	padding-top:40px;
}
#precontent .share {
	position:absolute;
	top:30px;
	right:0;
}

#printAllPortfolio {
	float: right;
	display: block;
	margin: 5px 5px 5px 5px;
}

.your-portfolio {
  margin: 0 -20px 0;
  padding-bottom:20px;
  margin-top:35px;
}
.your-portfolio table thead {
	background:#fff;
}

.your-portfolio .id-col{
	color: #fff;
	
}

.your-portfolio .provider-col{
  width:200px;
  padding-left: 20px;
}
.your-portfolio .account-col{
	width: 160px;
	padding-left: 20px;	
}

.your-portfolio .accountname-col{
	width: 220px;
	padding-left: 20px;	
}

.your-portfolio .balance-col{
	
	padding-left: 20px;	
}

.your-portfolio .maturity-col{
	
	padding-left: 20px;	
}

}
.your-portfolio h2{
  color:#fff;
  background-color:#384343;
  padding:5px;
  line-height: 30px;
  margin-bottom:0;
}
  .your-portfolio h2,
  .your-portfolio h3 {
     color:#fff;
     padding-left:10px;
  }
  .your-portfolio h3 {
    font-size:13px;
    font-weight:bold;
    padding: 3px 3px 3px 10px;
	position:relative;
	margin-bottom:0;
  }
  .your-portfolio .your-trackers{
	  background-color: #4FBC2F;
  }
  
  .your-portfolio .your-tim-trackers{
	  background-color: #451344;
  }
  
  .isa .your-portfolio .your-trackers{
	  background-color: #29DCD6;
  }
  
  .your-portfolio .your-reminders{
	  background-color: #EE7500;
  }
  
  .your-portfolio .your-tim-reminders{
	  background-color: #451344;
  }
  
  .your-portfolio tr.deleted-account {
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		opacity: 0.5;
		
  }
  
  .your-portfolio tr.deleted-account td{
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		opacity: 0.5;
		
  }
  
  .your-portfolio tr.total_row{
  	font-weight: bold;
  	background-color: white;
  }

  .your-portfolio td.grand_total{
  	font-weight: bold;
  	background-color: white;
  }
  .your-portfolio h3 span {
    display:block;
    width:29px;
    height:29px;
    background:url('../../img/pm.png') no-repeat 0 -29px transparent;
	position:absolute;
	top:50%;
	right:10px;
	margin-top:-15px;
  }
    .your-portfolio h3 .open{
      background:url('../../img/pm.png') no-repeat 0 0 transparent;
    }

	.your-portfolio table {
	border: 0px;
	}
	.your-portfolio table th {
	  font-weight:bold;
	  text-align:left;
	}

 .your-portfolio th,
 .your-portfolio td{
    border:0px;
    border-bottom:1px solid #DCDCDC;
    vertical-align: middle;
  }

  .your-portfolio .counter {
    background-color:#384343;
    color:#fff;
    text-align:center;
    font-weight:bold;
    width:20px;
  }
  .your-portfolio .odd,
  .your-portfolio .even{
    background-color: #eceded;
  }
	.your-portfolio table {
		margin-bottom:20px;
	}
	.your-portfolio .addg {
		margin-bottom:5px;
	}
	

	.your-portfolio .bonusExpiredText {
			color: red;
			font-size: 12px;
		}
	.your-portfolio .bonusFineText{
			color: green;
			font-size: 12px;
		}	
  div.portfolio-preferences {
	  padding:5px;
  }
  .portfolio-preferences .alert {
     background:url('../../img/mail-ico.png') no-repeat left center transparent;
     padding-left:40px;
	   float:left;
  }

  .portfolio-preferences .email{
     font-style: italic;
	 margin-left:88px;
  }
  .portfolio-preferences .submit {
		float:right;
	}
  .your-portfolio td.delete{
	width:35px;
  }
  .your-portfolio td.balance{
	width:100px;
	
  }
  
  .your-portfolio .editPencil {
  	float: right;
  }
  .your-portfolio .delete a {
    display:block;
    width:29px;
    height:29px;
   /* background:url('../../img/portfolio-delete-states.png') no-repeat 0 -29px; transparent; */
  }
  /* .your-portfolio .delete .deleted { */
  /*   background:url('../../img/portfolio-delete-states.png') no-repeat 0 0 transparent; */
  /* } */
 
 .your-portfolio .header {
 	background:url('../../img/both.png') no-repeat center left;
 	
 }
 
 .your-portfolio .headerSortDown {
 	background:url('../../img/desc.png') no-repeat center left;
 }
 
 .your-portfolio .headerSortUp {
 	background:url('../../img/asc.png') no-repeat center left;
 }
 
 .your-portfolio .balanceFormValue {
 	display: inline;	
 }

 
  .log-create .content {
    float: left;
    width: 595px;
	}
	.log-create .buttons {
		float: right;
		padding-top: 55px;
		width: 295px;
	}
	.log-create .buttons a {
		margin-bottom:20px;
		cursor:pointer;
	}
	.log-create .buttons .register {
		background:url(../../img/register.png) no-repeat 0 0 transparent;
		display:block;
		height:58px;
		width:195px;
	}
	.log-create .buttons .login {
		background:url(../../img/login.png) no-repeat 0 0 transparent;
		display: block;
		height: 58px;
		width: 195px;
	}
	.log-create .buttons .add {
		background:url(../../img/add.png) no-repeat 0 0 transparent;
		display: block;
		height: 57px;
		width: 283px;
	}
	.your-portfolio .addg {
		background:url(../../img/addmoreg.png) no-repeat 0 0 transparent;
		display: block;
		height: 57px;
		width: 198px;
		float:right;
	}
	.your-portfolio .addo {
		background:url(../../img/addmoreo.png) no-repeat 0 0 transparent;
		display: block;
		height: 57px;
		width: 198px;
		float:right;
	}
  .log-create h2 {
		border-bottom: 1px solid #DEDEDE;
		font-size: 34px;
		line-height: 45px;
		margin-bottom: 30px;
		padding-bottom: 10px;
	}


	.your-portfolio img.bonusAlert {
		padding-left: 5px;	
	}
  .teaser-text {
    margin-left:10px;
    margin-right:10px;
    padding:10px;
    padding-top:20px;
    padding-bottom: 0px; height: 50px;
  }
  .teaser-text p{border-top:1px dashed #E4E4E4; border-bottom:1px dashed #E4E4E4; padding:10px; padding-left:0px}

  .server-message{border-top:1px dashed #E4E4E4; border-bottom:1px dashed #E4E4E4; padding-top:10px; padding-left:0px}
  a.in-text{text-decoration:underline;}

.ratetracker #pre-content{
    margin: -20px -20px 20px;
    padding-bottom: 20px;
    background:#f2f2f2;
    border-bottom:0px;
    }

	.ratetracker #side1 {
		background:#eceded;
	}


#ac-account-form {
	padding:20px;

	}
	#ac-account-form h2 {
		font-size:17px;
		font-family: "Times New Roman", 'Times', 'Georgia', serif;
	}
.ac-account {
	margin-bottom:0;
	font-size:17px;
	font-family: "Times New Roman", 'Times', 'Georgia', serif;
	list-style-type:none;
	padding: 0;
	}
	.ac-account li {
		display:block;
		position:relative;
		list-style-position:outside;
		border-bottom:1px dashed #dfdfdf;
		padding:20px 0;
		opacity:.50;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; /* IE 8 */
		filter:alpha(opacity=50); /* IE 4, 5, 6 and 7 */
		zoom:1
	}
	.ac-account li.hidden {
		display:none;
	}
	.ac-account li.active {
		opacity:1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; /* IE 8 */
		filter:alpha(opacity=100); /* IE 4, 5, 6 and 7 */
	}
	.ac-account li .loa {
		height:16px;
		width:16px;
		background:url('../../img/l.gif') no-repeat 0 0 transparent;
		position:absolute;
		top:8px;
		right:5px;
		display:none;
	}
	.ac-account li label {
		font-size:22px;
		position:relative;
		padding: 20px 20px 20px 70px;
		display:block;
		float:left;
		width:175px;
	}
	.ac-account li .input-wrap {
		padding:20px 20px 20px 20px;
		display:block;
		float:left;
		border-right:1px solid #ededed;
		border-left:1px solid #ededed;
		position:relative;
	}
	.ac-account li.maturity .input-wrap select {
		margin-bottom:10px;
	}
	.ac-account li .balance.input-wrap {
		padding-right:170px;
	}
	.ac-account li .balance.input-wrap input {
		width:100px;
	}
	.ac-account li .balance.input-wrap .reset {
		position:absolute;
		width:auto;
		margin-top:-27px;
		right:10px;
		top:50%;
	}
	.ac-account input.text, .ac-account select{
		width:250px;
		padding:5px;
		display:inline;
		border:none;
		font-family: "Times New Roman", 'Times', 'Georgia', serif;
		font-size:17px;
		margin:0;
		display:block;
	}
	.ac-account select {
		width:260px;
	}
	.ac-account select, .rate-check select{
		padding:5px;
	}
	.rate-check select{
		margin-top:2px;
	}
	.ac-account input#balance {
		width:128px;
		margin-left:5px;
	}
	form#track-product .errors input.text, .ac-account .errors input.text,
	form#track-product .errors select, .ac-account .errors select {
		border:2px solid red;
	}
	.ac-account .message select, .ac-account .message input {
		border:2px solid #2AB8E7;
	}

	li .no {
		background: url('../../img/stepslrg.png') no-repeat 0 0 transparent;
		display:block;
		height:46px;
		width: 46px;
		float:left;
		margin-top:-23px;
		position:absolute;
		top: 50%;
		left: 0;
	}
	li .two {
			background-position: 0 -46px;
	}
	li .three {
			background-position: 0 -92px;
	}
	li .four {
			background-position: 0 -138px;
	}
	li .five {
			background-position: 0 -184px;
	}
	.ac-account .info {
		float:left;
		padding:20px;
		overflow:visible;
	}
	.ac-account .info a.ico {
		display:block;
		width: 46px;
		height: 46px;
		background:url(../../img/info.png) no-repeat 0 0 transparent;
		float:left;
	}

	.ac-account .info .text {
		display:block;
		width: 200px;
		padding:30px;
		background:#fff;
		border:1px dashed #cbcbcb;
		position: absolute;
		z-index:50;
		top:20px;
		right:0;
		font-size:14px;
		box-shadow: 0 11px 20px #CCCCCC;

	}
	.ac-account .info .text a {
		color:#4fbb30;
	}
	.ac-account .info .text p {
		margin-bottom:0;
	}
	.ac-account .info .text h2 {
		font-size:19px;
		font-weight:bold;
		line-height:22px;
	}
	.ac-account .message a.ico {
		background-position: 0 -94px;
		height: 43px;
		width: 44px;
	}
	.ac-account .message .info .text h2 {
		color:#2ab8e7;
	}
	.ac-account .errors a.ico {
		background-position: 0 -45px;
		height: 49px;
		width: 52px;
	}
	.ac-account .errors .info .text h2 {
		color:red;
	}
	.result-button {
		float:left;
		margin-left: 286px;
		padding:20px 0;
	}
	.lower-reset {
		float:left;
		padding:22px 0;
	}
	
.ui-autocomplete {
	width:190px;
	background:#fff;
	list-style-type:none;
	font-size:16px;
	font-family: "Times New Roman", 'Times', 'Georgia', serif;
	-moz-box-shadow:0 50px 100px #a1a9aa;
	-webkit-box-shadow:0 50px 100px #a1a9aa;
	box-shadow:0 50px 100px #a1a9aa;
	}
	.ui-autocomplete li {
		border-bottom:1px solid #f8f9f9;
		}
		.ui-autocomplete a {
			padding:6px 4px;
			display:block;
			cursor:pointer;
			text-decoration:none;
		}
		.ui-autocomplete a:hover {
			background:#384343;
			color:#fff;
		}
.notice-wrap h2 {
	color:#fff;
	font-size:22px;
	font-weight:bold;
	background:#384343;
	margin:0;
	padding:0 30px;
}
.r-notice {
	font-size:17px;
	background:#eceded;
	border:1px solid #d1d4d4;
	padding:30px;
	font-family: "Times New Roman", 'Times', 'Georgia', serif;
	position:relative;
}
.r-notice {
	font-size:17px;
	background:#eceded;
	border:1px solid #d1d4d4;
	padding:30px;
	font-family: "Times New Roman", 'Times', 'Georgia', serif;
	position:relative;
	}
	.r-notice ol {
		list-style-type:none;
		list-style-position:outside;
		margin:0;
		}
		.r-notice ol li {
			margin-bottom:25px;
			padding-left:65px;
		}
		.r-notice ol .one {
			background:url(../../img/no1.png) no-repeat 0 0 transparent;
		}
		.r-notice ol .two {
			background:url(../../img/no2.png) no-repeat 0 0 transparent;
		}
		.r-notice ol .three {
			background:url(../../img/no3.png) no-repeat 0 0 transparent;
		}
		.r-notice ol .four {
			background:url(../../img/no4.png) no-repeat 0 0 transparent;
			margin-bottom:35px;
		}

	.r-notice strong {
		display:block;
	}

.r-notice .arr {
	display:block;
	width:9px;
	height:100%;
	position:absolute;
	top:0;
	left:-9px;
	background:url('../../img/notice-arr.png') no-repeat 0 70px transparent;
}
.r-notice h3  {
	font-size: 18px;
	line-height:20px;
	margin-bottom:10px;
}
.generic .share {
	margin-left:20px;
}
.generic #content ul{
	margin-left:40px;
	list-style:outside;
}
.share  {
	padding: 5px;
	border:2px solid #e8e8e8;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#ededed;
	width:210px;
	float:right;
	text-align:center;
	}
	.share .addthis_pill_style  {
		float:left;
		margin-left:10px;
		margin-right:5px;
	}
	.share .addthis_button_email{
		position: relative;
    top: 2px;
	}
	.share h2 {
		font-family:Helvetica, Arial, sans-serif;
		font-size:19px;
		font-weight:bold;
		border-bottom:1px solid #e5e5e5;
		margin-bottom:8px;
		line-height:21px;
	}
#y-account table {
	border-left:1px dashed #ccc;
	}
	#y-account .even {
		background:#FCFEFB;
	}
#y-account h2 {
	background:#384343;
}
#y-account p.opening-date label{display:block;}
#y-account p.opening-date select{float:left; margin-right:10px; width:125px;}

#y-account span.totalBalance {
	font-size: 28px;
	font-style: italic;
	font-weight: bold;
}

#y-account span.balanceValue {
	font-size: 28px;
	font-style: italic;
	font-weight: bold;
}

#y-account span.noTax {
	font-size: 14px;
	font-weight: none;
}
#s-account {
	color:#4fbb30;
	}
.isa #s-account h2 {
	background:#29DCD6;
}
#s-account h2 {
	background:#4fbb30;
}
#s-account {
	color:#000;
	}
	#s-account .even {
		background:#eff9ec;
	}
	.isa #s-account .even {
		background:#ecfcfb;
	}
	#s-account .odd {
		background:#fff;
	}
	#s-account .odd {
		background:#fff;
	}
	
	#s-account span.totalBalance {
	font-size: 28px;
	font-style: italic;
	font-weight: bold;
}

#s-account span.noTax {
	font-size: 14px;
	font-weight: none;
}
.rt-account h2 {
	font-size:17px;
	color:#fff;
	position:relative;
	margin:0;
	padding:0 15px;
	line-height:30px;
}
.rt-account h2 .arr {
	display:block;
	width:151px;
	height:11px;
	background:url('../../img/rt-h-arr.png') no-repeat 0 0 transparent;
	position:absolute;
	bottom:-11px;
	left:0;
}

.isa #s-account h2 .arr {
	background-position:-302px 0;
}
#s-account h2 .arr {
	background-position:-151px 0;
}
.rt-account {
	width:50%;
	float:left;
	font-size:13px;
	/*display:none;*/
	}
	.rt-account table {
		border:none;
		}
		.rt-account td,
		.rt-account th{
			border:none;
			border-bottom:1px dashed #ccc;
			padding: 15px;
		}
		.rt-account td.account-type, .rt-account td.account-name{color:#000;}
		.rt-account th {
			text-align:left;
			font-size:25px;
			font-family: "Times New Roman",'Times','Georgia',serif;
			padding-top:25px;
			background-color:#fff;
		}
		tr.rt-account-name {height:100px;}
		.rt-account span {
			font-family: "Times New Roman",'Times','Georgia',serif;
			font-size:18px;
			line-height:24px;
			}
			.rt-account .rate {
				font-size:70px;
				line-height:75px;
			}
			.rt-account .date {
				font-size:15px;
			}
			
			.rt-account .date,
			.rt-account .fact {
				display:block;
			}
			.rt-account .rate {
				display:inline;
				width: 300px;
			}
			
			.rt-account .bonusExpired {
				display: inline-block;
				width: 230px;
				margin-left: 10px;
			}
			.rt-account .bonusExpired {
				font-size: 12px;
				color: red;
				
			}
.rt-account span.providerBonusMessage {
				font-size: 12px;
			}
.rt-account p.registerBonusMessage{
	font-weight: bold;
	color: black;	
}

tr.extraColor {
			color: black;
			background-color: #EFF9EC;
		}
		
		.rt-account span.extraText {
			font-size: 20px;
			margin: 12px 0 0 0;
			display: block;
			font-style: italic;
			
		}
		
		.rt-account span.extraBalanceText {
			font-size: 32px;
			font-style: normal;
			font-weight: bold;
		}
.ratetracker a.view-bestbuy {background:url('../../img/view-bestbuy.png') no-repeat center center transparent; width:230px; height:34px;}

.tracker-tabs {
	margin-bottom:0;
	float:left;
	}
	.tracker-tabs li,
	.tracker-tabs a {
		display:inline;
		float:left;
	}
	.tracker-tabs a.active {
		font-weight:bold;
		background:#f7f7f7;
		position:relative;
		top:1px;
	}
	.tracker-tabs a {
		background:#eaeaea;
		padding: 10px 15px;
		border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		border:1px solid #e3e3e3;
		border-bottom:none;
		margin-right:5px;
		font-size:18px;
		text-decoration:none;
	}
.account-steps {
	list-style-type:none;
	float:left;
	}
	.account-steps li,
	.account-steps a {
		float:left;
		display:inline;
	}
	#tracker-content .account-steps a {
		text-decoration:none;
	}
	p.disclaimer{
		margin-bottom: 10px;
    margin-top: 30px;
	}
	.account-steps a {
		background:url(../../img/def-step.png) no-repeat 100% 0 #eaeaea;
		font-size:16px;
		font-weight:bold;
		padding:5px 45px 9px 5px;
		line-height:20px;
		}
		.account-steps a.active {
			background:url(../../img/act-step.png) no-repeat 100% 0 #4fbb30;
			color:#fff;
		}
		.account-steps a.complete {
			background:url(../../img/com-step.png) no-repeat 100% 0 #4fbb30;
			color:#fff;
		}
		.account-steps a.last {
			background:url(../../img/last-step.png) no-repeat 100% 0 #eaeaea;
		}
		.account-steps a.end {
			background:url(../../img/end-step.png) no-repeat 100% 0 #4fbb30;
		}
	.account-steps a span {
		display:block;
		font-size:12px;
	}
	.isa .account-steps a.active {
			background:url(../../img/isa-act-step.png) no-repeat 100% 0 #29dcd6;
			color:#fff;
		}
	.isa .account-steps a.complete {
			background:url(../../img/isa-com-step.png) no-repeat 100% 0 #29dcd6;
			color:#fff;
		}
	.isa .account-steps a.end {
		background:url(../../img/isa-end-step.png) no-repeat 100% 0 #29dcd6;
		color:#fff;
	}
#tracker-post-content {
	padding-top:20px;
}
/* #Sidebar
================================================== */
.ico-nav {
	list-style-type:none;
	}
	.ico-nav .ico {
		left:5px;
		top:26%;
	}
	.ico-nav li {
		position:relative;
		background-color:#fff;
		margin-bottom:1px;
	}
	.ico-nav li a {
		display:block;
		line-height:20px;
		padding: 25px 40px 25px 55px;
		background-color:#fff;
	}
	.ico-nav .arr {
		background:url('../../img/arrow.png') no-repeat center center #4fbb30;
		display:block;
		height:100%;
		width:34px;
		position:absolute;
		right:0;
		top:0;
	}
	.ico-nav .minute .arr,
	.ico-nav .guides .arr {
		background-color:#384343;
	}
	.ico-nav .newsletter .arr {
		background-color:#ee7500;
	}
	.ico-nav .jargon .arr {
		background-color:#a32a68;
	}
	.ico-nav .best-buy .arr,
	.ico-nav .compare .arr {
		background-color:#2ab8e7;
	}
.banner-nav-wrap {
	background:#fff;
}
.banner-nav-wrap h2 {
	border-bottom:1px solid #edeeee;
	font-size:21px;
	margin:0;
	padding-left:50px;
	position:relative;
	line-height:34px;
}
.banner-nav-wrap h2 .ico {
	top:0;
	left:0;
	background-position: -3px -153px;
}
.banner-nav {
	list-style-type:none;
	}
	.banner-nav a {
		padding:5px 10px 5px 15px;
		display:block;
		font-size:13px;
		color:#384343;
		zoom:1;
	}
	.banner-nav .active a {
		background:#2ab8e7;
		color:#fff;
		font-weight:bold;
		position:relative;
	}
	.banner-nav .active .banner {
		display:block;
		height:37px;
		width:10px;
		position:absolute;
		top:0;
		left:-9px;
		background:url('../../img/ribbon-left-bg.png') no-repeat 0 0 transparent;
	}
	.banner-nav .active .arr {
		display:block;
		height:31px;
		width:22px;
		position:absolute;
		top:0;
		right:-13px;
		background:url('../../img/banner-arr.png') no-repeat 0 0 transparent;
	}

.side-block {
	border:1px solid #dcdcdc;
	margin-bottom:20px;
	padding:10px 20px 0 20px;
	position:relative;
}
.side-block h2 {
	font-size:21px;
	border-bottom:1px dashed #ccc;
	}
	.side-block h2 span {
		background:url(../../img/sideb.png) no-repeat 0 0 transparent;
		display:block;
		zoom:1;
		position: absolute;
		top:10px;
		right:20px;
	}
	.side-block h2.blog-excerpt span {
		background:url(../../img/blog_icon.png) no-repeat 0 0 transparent;
		display:block;
		zoom:1;
		position: absolute;
		top:10px;
		right:20px;
	}
	
	.side-block .call {
		background:url(../../img/hparrs.png) no-repeat 0 -63px transparent;
		display:block;
		position: absolute;
		height:21px;
		width:21px;
		bottom:20px;
		right:20px;
	}
	.people-say,
	.press-say {
		padding-right:100px;
	}
	.people-say h2 span {
		height: 55px;
		width: 55px;
	}
	.press-say h2 span {
		width: 55px;
		height: 54px;
		background-position:0 -55px;
	}
	.twitter h2 span {
		width:21px;
		height:21px;
		background-position:0 -109px;
		top:20px;
		right:20px;
	}
	.twitter p {
		font-style:italic;
	}

.side-block.twitter h2 {
	border-bottom:1px solid #ccc;
}

/* #Tabs
================================================== */
.tabs, .balls {
	list-style-type:none;
	margin:0 0 -10px 0;
}
	.tabs li,
	.tabs a,
	.balls li,
	.balls a {
		float:left;
	}
    .tabs li, .balls li {
        width:100%;
		position:relative;
		}
		.tabs li .arr {
			/* background: url("../../img/tab-arr-sprite.png") no-repeat scroll center 0 transparent; */
			height: 11px;
			width: 100%;
			position:absolute;
			bottom:-11px;
			left:0;
			display:none;
		}
		.tabs li.active .arr {
			display:block;
		}
    .tabs li.tab1, .balls li.tab1 {
        background:#4fbb30;
    }
    .tabs li.tab2, .balls li.tab2 {
        background:#384343;
        width:34%;
		}
		.tabs li.tab2 .arr {
			background-position:center -11px;
		}
    .tabs li.tab3, .balls li.tab3 {
        background:#ee7500;
		}
		.tabs li.tab3 .arr {
			background-position:center -22px;
		}
    .tabs a, .balls a {
        color:#fff;
    	font-family: "Times New Roman",'Times','Georgia',serif;
        font-size:17px;
        line-height:20px;
        padding:10px;
        text-align:center;
        }
        #content .tabs a,
		#content .balls a,
		.balls a,
		.tabs a{
            text-decoration:none;
        }
        .tabs .active, .balls .active {
            /* padding:5px 0; */
            /* bottom:10px; */
        }
.tabbed div {
	background:#eceded;
	padding:40px 20px 20px 20px;
}

.tabbed form.rate-check div {
	/*border-top:1px dashed #d6d7d7;
	border-bottom:1px dashed #d6d7d7;
	margin-bottom:20px;
	*/
	padding:0;
	}
	.tabbed div .icon {
		display:block;
		float:left;
		position:relative;
		margin:0;
		padding: 20px 0 20px 60px;
		width:230px;

	}
	.tabbed .question {
		background:url(../../img/q-ico.png) no-repeat 0 center transparent;
	}
	.tabbed .graph {
		background:url(../../img/r-ico.png) no-repeat 0 center transparent;
	}
	.tabbed .rate-check input {
		font-size: 16px;
		font-family: "Times New Roman",'Times','Georgia',serif;
		margin:0;
	}
	.tabbed .rate-check .infield {
		font-size: 16px;
		left: 65px;
		position: absolute;
		top: 25px;
		font-family: "Times New Roman",'Times','Georgia',serif;
	}
	.tabbed .rate-check .button {
		float:right;
	}

/* #Forms
================================================== */
.form-wrap{
	background: none repeat scroll 0 0 #ECEDED;
}
.form-wrap form {
	padding:20px;
}
form label{
	font-family: "Times New Roman",'Times','Georgia',serif; font-size: 17px;
}

/* Desicion Tree */
.error {
        color: red;
}

.tabbed .decision-tree, .tabbed .account-picker {
	padding:0;
	position:relative;
	}
	/*.decision-tree p.u-message {background-color:#C0C8CA;}*/

	.decision-tree p.u-message, .account-picker p.u-message {
	   background:url("../../img/sc-small.png") no-repeat 10px 10px #fff;
     padding: 10px 10px 10px 50px;
    }

	.decision-tree p, .account-picker p {
		padding-top:20px;
		/*width:50%;*/
		display:block;
		float:left;
	}
	.decision-tree .balls li, .account-picker .balls li {
		background:#c8cbcb;
		padding:0;
		font-family: "Times New Roman",'Times','Georgia',serif;
		width:auto;
		display:block;
		text-align:center;
		margin-right:5px;

		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		}
		.decision-tree .balls li.active, .account-picker .balls li.active{
			background:#384343;
		}

	.decision-tree .balls a, .account-picker .balls a {
		padding: 2px 8px;
		display:block;

	}
	.decision-tree div, .account-picker div {
		border-bottom: 1px dashed #D6D7D7;
		margin-bottom: 20px;
		padding: 0;
	}
	.decision-tree .t-message, .account-picker .t-message, .rate-check .t-message {
		padding:10px 0;
		border-bottom: 1px dashed #D6D7D7;
		margin:0;
		width:100%;
		padding:0 0 10px 0;

	}
	.decision-tree .s-message, .account-picker .s-message {
		width:350px;
	}


.next {
	background:url("../../img/next.png") no-repeat 0 0 transparent;
	height:36px;
	width:164px;

}
.decision-tree .next,
.decision-tree .submit,
.account-picker .next,
.account-picker .submit {
	position:absolute;
	bottom:0;
	right:0;
}
/* Account Picker in the Decision Tree */
.account-picker p.dob {width:400px;}
.account-picker p.dob label{display:block;}
.account-picker p.dob select {width: 100px; float:left; margin-right:10px;}

/* Login Form */
.auth-form p {float:left;  padding: 20px 20px 20px 0px; margin:0;}
.auth-form .button{float:right;}
.form-wrap p.emailNotification{
	padding: 10px 10px 0px 10px;
	font-size: 14px;
	font-family: 'Times New Roman', Times, Georgia, serif;
	margin: 0px 0px 10px 0px;
}

/* Registration Form */
.registration-form .login-details, .registration-form .member-details {background: none repeat scroll 0 0 #ECEDED;padding:20px;}
.registration-form .name-fields div{float:left;padding-right:20px;}
.registration-form .dob-fields select{float:left; width:100px;margin-right:20px;}
.registration-form .dob-fields label {display:block;}
.registration-form .salutation select {width:80px;}
.registration-form .button{float:right;}
.registration-form li {
	position:relative;
	list-style-type:none;
	padding-left:20px;
}
.registration-form	li .no {
		background: url('../../img/num.gif') no-repeat 0 0 transparent;
		display:block;
		height:20px;
		width: 20px;
		position: absolute;
		top: 2px;
		left: -6px;
		margin:0;
	}
.registration-form li .two {
			background-position: 0 -20px;
	}
.registration-form li .three {
			background-position: 0 -40px;
	}
.registration-form li .four {
			background-position: 0 -60px;
	}

.registration-form .req {

    padding: 5px 0;
	font-weight: bold;
	margin-bottom:20px;
	}

.registration-form .instructions  {
    font-size: 11px;
    left: 275px;
    line-height: 14px;
    padding: 5px 10px 5px 20px;
    position: absolute;
    top: 15px;
    width: 300px;
}
.registration-form .instructions .no {
		top:10px;
}
.generic-form {
	background: none repeat scroll 0 0 #ECEDED;padding:20px;
}
/* Reminder Form */
.reminder-form .maturity-wrap label {
	display:block;
	margin-bottom:5px;
}
.reminder-form .maturity-wrap select {
	min-width:160px;
	float:left;
	margin-right:25px;
	margin-bottom:10px;
}
.reminder-form .maturity-wrap .submit {
	clear:left;
}

/* #Post Content
================================================== */
#post-content-wrap {
	padding: 30px 0 50px 0;
}
#post-content .tabbed {
    float:right;
    width:710px;
}
#post-content .pc-img {
    width:250px;
    float:left;
    margin-right:20px;
}

/* #Footer
================================================== */
#foot-wrap {
	background:#eceded;
	}
	#footer {
		padding-top:30px;
	}
	.foot-block {
		width:280px;
		float:left;
		display:inline;
		margin-right:60px;
		font-family:'arial','helvetica',sans-serif;
		}
		.foot-block h2 {
			font-size:20px;
			border-bottom:1px dashed #bdbebe;
			padding: 20px 0 5px 60px;
			line-height:28px;
			margin-bottom:25px;
			}
			#footer .best-buys ul {
				width:130px;
			}
			#footer .best-buys .l1 {
				float:left;
			}
			#footer .best-buys .l2 {
				float:right;
			}
			#footer .best-buys h2 {
				background:url('../../img/sq-sm.png') no-repeat 0 center transparent;
			}
			#footer .rate-tracker h2 {
				background:url('../../img/tri-sm.png') no-repeat 0 top transparent;
			}
			#footer .newsletter h2 {
				background:url('../../img/news-i.png') no-repeat 0 center transparent;
			}
	#footer .rates {
		margin:0;
	}
	#footer .rates h2 {
		padding-left:0;
	}
	#footer .newsletter .text {
		font-family: 'Times New Roman','Times','Georgia',serif;
		font-size: 16px;
		margin-bottom:10px;
		width: 270px;
	}
	#footer .newsletter .button {
		float:right;
	}

	#footer .site-links{
		border-top:1px solid #E9E9E9;
		clear:both;
	}
	#footer .site-links ul{
		list-style: none;
	}
	#footer .foot-nav {
		padding:5px 0 0 0;
		list-style-type:none;
		border-top:1px solid #ccc;
		margin-top:25px;
	}
	#footer .foot-nav li {
		margin-right:10px;
		padding-right:10px;
		background:url('../../img/sep.png') no-repeat 100% center transparent;
	}
	#footer .foot-nav li,
	#footer .foot-nav a {
		float:left;
	}
	.curr-rates {
		background:#fff;
		border:3px double #e9e9e9;
		padding:8px;
		margin-bottom:5px;
		font-family: "Times New Roman", 'Times', 'Georgia', serif;
		font-size:15px;
		list-style-type:none;
		text-align:right;
	}
	.curr-rates li {
		line-height:24px;
	}
	.curr-rates span {
		background:#384343;
		color:#fff;
		padding:3px;
		margin-left:3px;
	}


/* #Tag
================================================== */
#tag-wrap {
	background-color: #384343;
	}
	#tag {
		background-color: #384343;
		padding:30px;
		text-align:center;
		color:#fff;
		}
		#tag h3 {
			color:#fff;
			margin:0;
			font-family:'Times New Roman', 'Times','Georgia', serif;
			font-size:34px;
		}

/* #Sign Up Bar
================================================== */
#static-bar div {
    display:none;
}
#static-bar ul div {
    display:inline;
}
#static-bar-wrap {
    position:fixed;
    bottom:0;
    left:0;
    display:block;
	width:100%;
	z-index:10;
}
#static-bar-wrap .icon{
	display:block;
	width:80px;
	height:77px;
    background:url('../../img/sb-bg.png') no-repeat 0 0 #fff;
	position:absolute;
	top:0;
	left:0;
}
#static-bar {
    padding-left:77px;
    margin-top:34px;
	background:#fff;
    }
    #static-bar .sltabs {
        height:40px;
    }
    #static-bar li {
		width:200px;
		float:left;
		height:40px;
    }
    #static-bar ul {
		list-style-type:none;
    }

	#static-bar .auth ul{margin:0; padding:0;}

	#static-bar .auth li{margin:0; padding:0; width:60px;}
    #static-bar .auth a{width:100%;}
    .sltabs{
        margin:0;
        list-style-type:none;
        border-top:3px solid #485252;
		display:block;
    }
    .sltabs li,
    .sltabs a {
        float:left;
        position:relative;
    }

    .sltabs a {
        display:block;
        font-size:17px;
		font-family:'Times New Roman', 'Times','Georgia', serif;
        color:#fff;
        line-height:40px;
    }
   	.sltabs li.auth a,
	.sltabs li.signup a,
	.sltabs li.contact a {
		padding-left: 10px;
	}

    .sltabs .auth {
        background-color:#4fbb30;
    }
	.sltabs .signup {
        background-color:#ee7500;
    }
    #static-bar .sltabs .contact {
        background:#fff;
        width:130px;
        }
        .sltabs .contact a {
            color:#384343;
        }

    #static-bar .sltabs .social {
        background:#fff;
        text-align:left;
        line-height:45px;
        height:40px;
		width:30%;
        }
        .sltabs .social .cial {
            display:inline;
			float:left;
        }
        #static-bar .fb-like{
        	margin-top:-4px;
        }
/*   .sltabs .social span {
        background:url('../../img/sb-s-bg.png') no-repeat 0 0 transparent;
        height:40px;
        width:49px;
        display:block;
        position:absolute;
        top:0;
        left:-49px;
    }*/
#static-bar li.login a { background: url("../../img/nav_divider.png") no-repeat scroll 90% center transparent;}

 /** ----------- articles ---- **/
 .sc-article h2{border-bottom:}

 /** Decision Tree Tabs on the homepage **/
div.decision-tree-home {background-color:#fff; padding:25px;}
div.decision-tree-home .tabbed{width:620px; float:left; padding-right:10px;}

div.user-message-wrap{
  background: url("../../img/cta-circle.png") no-repeat scroll center center transparent;
  width:300px;
  height:300px;
  float:left;
}
  div.user-message {
    color:#F2F2F2;
    margin:20%;
    margin-top:30%;
  }
  div.user-message a {
    color:#F2F2F2;
    font-weight: bold;
  }
  div.user-message strong {
    color:#F2F2F2;
  }
  div.user-message p {
    text-align:center;
    margin:0px;
    font-style: italic;
    font-size:21px;
    font-family: "Times New Roman",'Times','Georgia',serif;
  }
  div.user-message hr{
    border:0px;
    border-top: 1px dashed #e9e9e9; margin:0;
  }

/** -- Jargon Buster Glossary Page --**/
ul.jargon-list {list-style: none; display:inline;  width:100%;}
  ul.jargon-list li{display:inline-block; padding:0px 5px;}

dl.jargon-definition-list dt{font-weight:bold;}

/** paginator **/
#paginator {float:right;}


/** Error Styling **/
p.ico-error{
	background-color:#fff;
	font: 12px/21px HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bb-tool .ico-error{
	margin-left:-20px;
	margin-right:-20px;
	background-color:#fff;
	line-height:20px;
	padding-left:20px;
	padding-bottom:5px;
	position:relative;
}
.ico-error .arr{
	position:absolute;
	top:-9px;
	left:11px;
	display:block;
	width:11px;
	height:9px;
	background: url("../../img/bubble-tip-top.png") no-repeat scroll center center transparent;
}
.ac-account .ico-error{
  background:#fff5f5;
  padding:0 5px 5px 5px;
  border-bottom:1px solid #FF0000;
  font-weight:bold;
  color:#FF0000;
  position:relative;
}
.registration-form .ico-error{
	background:#fff5f5;
	padding:0 5px 5px 5px;
	border-bottom:1px solid #FF0000;
	font-weight:bold;
	color:#FF0000;
	position:relative;
	left: 30px;
	width:350px;
}
.login-details .ico-error{
	background:#fff5f5;
	padding:0 5px 5px 5px;
	border-bottom:1px solid #FF0000;
	font-weight:bold;
	color:#FF0000;
	position:relative;
	left: 30px;
	width:350px;
}
.ico-error .err{
	background: url("../../img/error-ico.png") no-repeat scroll center center transparent;
	width:16px;
	height:14px;
	display:block;
	position:absolute;
	top:50%;
	left:-28px;
    margin-top: -7px;
}
.ac-account p.ico-error span.arr{
	position:relative;
	top:-9px;
	left:15px;
	display:block;
	width:11px;
	height:9px;
	background: url("../../img/bubble-tip-top.png") no-repeat scroll center center transparent;
}

#tracker-content .response-message {
	background: none repeat scroll 0 0 #FFFFFF;
  border: 1px dashed #CBCBCB;
  display: block;
  font-size: 14px;
  padding: 20px;
  margin-top:10px;
  margin-bottom:10px;

}

.formpage #content{width:920px;}

#h-nav-wrap{
	 margin: 0 auto;
   width: 980px;
   margin-top:20px;
}
.generic .registration-message {
	padding:20px;	
	padding-left:0px;
}
.generic .registration-message span.ico{
    background: url("../../img/info.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    background-position: 0 -94px;
    height: 43px;
    width: 44px;
}
.generic .registration-message p{
	position:relative;
	left:60px;
	top:10px;
}

div.tracker-message{
	clear:both;
	max-width:700px;
}/*
sup{
	vertical-align: 12%;
	font-size:smaller;
	font-weight:normal;
}*/
.reset-wrap{
	float:right;
	margin-right:15px;
}
sup:hover {
	text-decoration:none;
}
.track-account  {
	display:block;
	min-height:100px;

}
.track-account .track-but{
	float:right;
}
.tracker-summary {
	display:block;
	width:650px;
	margin-left:20px;
	margin-bottom:30px;
}
.tracker-summary p{
	font-size:16px;
  font-family: "Times New Roman",'Times','Georgia',serif;
}
div.form-messages{
	display:block;
	margin:10px 0px;
}
.form-messages span.message{
	background: url("../../img/info.png") no-repeat scroll 0 -94px transparent;
  height: 43px;
  width: 44px;
  display:block;
}
.form-messages p{
	margin-left:60px;
	vertical-align:middle;
	margin-top:10px;
}
p.tagline{
	font-size:17px;
	color:#737977;
}
td.facts-row {display:block;}

.isa-button-wrap a.search-again{
	background: url("../../img/isa_search_but.png") no-repeat scroll 0 0 transparent;
}
.rate-button-wrap a.search-again{
	background: url("../../img/search_but.png") no-repeat scroll 0 0 transparent;
	
}
a.search-again{
	float:left;
 	display:block;
	margin-right:20px;
	width:171px;
	height:42px;
	outline:none;
	text-indent: -99999px;
}
tr.bestbuy-type span.ico{
	background: url("../../img/sm-ico-sprite.png") no-repeat scroll -4px -153px transparent;
  height: 34px;
  width:37px;
  display:inline-block;
  float:left;
}
tr.bestbuy-type td{height:60px;}
tr.bestbuy-type a{margin-left:45px;}


/* #Concierge
================================================== */
.concierge-form {
	background: none repeat scroll 0 0 #ECEDED;padding:20px;
}

.concierge-form p.conciergeLabel{
	font-family: "Times New Roman", 'Times', 'Georgia', serif;
	font-size: 14px;
	font-weight: bold;
}

.concierge-form input{
	display: inline;
	padding: 6px 4px;
	margin-bottom: 20px;
}

.concierge-form span.starNotification{
	margin-left: 10px;
	color: orange;
	font-size: 18px;
	font-weight: bold;
}

.concierge-form .minMessage{
	display: block;
	color: black;
	margin-top: 90px;
	
}

.concierge-message .enquiry-buttons{
	display: block;
	float: right;
	width: 360px;
}

.enquiry-buttons a {
	color: white;
	text-decoration: none;	
}

#callback-form{
	background-color: #ECEDED;
	width: 250px;
	padding-left: 10px;	
	float:right;
}




.enquiry-buttons p{
	display: inline;
	margin: 10px 20px 0px 0px;
	background-color: #EE7500;
	color: white;
	border: 15px solid #EE7500;	
	width: 70px;
	float: right;
	text-align: center;
}
#conciergesidebar {
	background-color: white;
	color: black;
	width: 200px;
	float: left;
	margin: 0;
	font-size: 12px;	
}	

#conciergesidebar .concmessage {
	padding: 10px;
	margin: 0;		
}

#conciergesidebar h2 {
	margin: 10px 0px 0px 10px;	
}
#conciergesidebar .boldtestimonial {
	font-weight: bold;	
}

#conciergesidebar div.testimonial{
	padding: 10px;
	margin: 0;	
}

#conciergesidebar p {
	margin: 0;	
}
#conciergesidebar span.read-more, span.read-less{
	font-weight: bold;	
}

/* #edit portfolio form
================================================== */
.editform {
	width: 300px;
	background: #ECEDED;
}

.editform p {
	display:inline-block;
	font-size: 14px;
}

.editform .block {
	display: block;
}

.editform input {
	width: 100px;
	display: inline;	
}

.editform .editformcontainer {
	padding: 10px;	
}

.editform .resultsMessage {
	font-size: 14px;
	font-weight: bold;	
}

.editform .resultsMessage p{
	display: block;	
}

.editform .outsideLimit {
	color:red;	
}

.editform .label{
	width: 80px;	
}

.editform .input-wrap {
	width: 120px;
}