{% extends 'base.html' %}

{% block title %}
    Please confirm your email
{% endblock title %}

{% block bannertext %}
    <div id="left-banner">
        <h2>Almost Done</h2>
        <h5>Please confirm your email</h5>
    </div>    
{% endblock bannertext %}

{% block contenthtml %}

<div id="signup-thankyou">
    <div class="content-width">
        <p>Thanks for signing up, you will be receiving an email from us shortly to confirm your email address</p>
    </div>    
</div>

{% endblock contenthtml %}
