{% extends 'concierge/landing/full_tool/base.html' %}
{% load static crispy_forms_tags %}
{% block concierge_personal %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ol class="breadcrumb">
                <li><span class="label label-default">1</span> Define Liquidity</li>
                <li><span class="label label-default">2</span> Personalise Results</li>
                <li class="active"><span class="label label-success">3</span> <b>Build Bespoke Portfolio</b></li>
            </ol>
            <div class="loading" data-url="{% url 'concierge_full_tool_landing_stage_two_async' %}"
             data-worst-case-task-id="{{ worst_engine_output_task_id }}"
             data-best-case-task-id="{{ best_engine_output_task_id }}">
                <h3>We're calculating your possible rates</h3>

                <p>If you're reading this, you may have a larger portfolio or our systems are under pressure.</p>

                <p>This process can take up to 2 minutes, however should be considerably shorter.</p>
            </div>
        </div>
    </div>
{% endblock %}