{% extends 'base.html' %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Updating Products, Etc.</h3>
            </div>
            <div class="panel-body">
                <p>The Providers, Products, and Product Tiers are updating in the background, and an email will be sent to data.team@savingschampion.co.uk to mark the start and end of the process.</p>
                <p>The ending email will also contain a log of all the products which were updated.</p>
            </div>
        </div>
    </div>
{% endblock %}