{% extends "base.html" %}
{% load block_tags static crispy_forms_tags %}

{% block title %}
    Priority Savers List
{% endblock title %}

{% block bannertext %}
    <div id="left-banner">
        {% get_static_block savings-priority-list incentive as block %}
        <h2 class="js-banner-title" style="font-size: 30px">{{ block|safe }}</h2>
    </div>
{% endblock bannertext %}

{% block contenthtml %}
    <div id="ifa-landing">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-sm-12">
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenthtml %}

