<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>502 Gateway Error</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Oh No, Savingschampion.co.uk is not available!
            </div>
            <div class="panel-body">
                <h3>Don't worry Savers, We won't be away for long!</h3>
                <p>We're constantly working on improving our website, so from time to time you might get this message.</p>
                <p>If this message won't go away no matter how often you reload the page, please give us a call on 0800 321 3581 or email us at info@savingschampion.co.uk</p>
            </div>
        </div>
    </div>
</div>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>