{% load static %}
<div class="lower-header container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="logo">
                <a rel="home" title="Savings Champion Home" href="/">
                    <img class="img-responsive logo" alt="Savings Champion Home" src="{% static 'img/logo.updated.27.02.2015.png' %}">
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-3">
            <h4 style="padding-top: 15px;">Call Savings Champion: <b>0800 321 3581</b></h4>
        </div>
    </div>
</div>
    

