{% load static %}
<div class="lower-header container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="logo">
                <a rel="home" title="Savings Champion Home" href="/">
                    <img class="img-responsive logo" alt="Savings Champion Home" src="{% static 'img/logo.updated.dark_bg.24.11.2014.png' %}">
                </a>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-4">
            <div class="contact-section">
                <div class="number-section">
                    <div class="row-fluid">
                        <div>
                            <span class="glyphicon glyphicon-phone-alt"></span><span> 0800 321 3581</span>
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-phone-alt"></span><span> 0330 330 3581</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

