{% extends "base.html" %}

{% block title %}
    Thank You
{% endblock title %}
{% block bannertext %}
<div id="left-banner">
    <h2>Thanks for your enquiry</h2>
</div>
{% endblock bannertext %}

{% block contenthtml %}
<div id="concierge-thankyou">
    <div class="content-width">
        <p>We've got your details and we'll get back to you as soon as we can.</p>
        <p>Our offices are open during normal UK opening hours.</p>
    </div>
</div>

<img src="https://traffic.outbrain.com/network/trackpxl?advid=7577&action=view">

{% endblock contenthtml %}
