<!doctype html>
<title>Free MOT for your savings with Rate Tracker | Savings Champion </title>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/timwidget.css">
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.infieldlabel.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.validate.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/slides.min.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/timscript.js"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27017192-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-27017192-1', 'savingschampion.co.uk');
        ga('send', 'pageview');
    </script>


</head>
{% load product_tags page_tags %}


{% block meta_description %}
    {% get_block ratetrackeromrc.meta as message %}
    {% if message %}
        <meta name="description" content="{{ message.text|striptags }}">
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">


        $(function () {
            // this cannot be within the script file unless we create a plugin and pass the json to it

            var info_type = 1, error_type = 2;

            var frb_msg = "<p>" +
                    "The rate on your account won\’t change until maturity. Enter your balance and maturity date and we will remind you before your bond matures";

            var valid_balance_msg = "<h2>Invalid Balance</h2><p>Please enter a valid balance</p>";

            var no_accounts_msg = '<h2>No accounts found</h2><p>We have been unable to find a matching account based on your search criteria. If you cannot find your savings account, ' +
                    'please send an email to <a href="mailto:info@savingschampion.co.uk">info@savingschampion.co.uk</a> ' +
                    'and we will look into it for you.</p>';

            var unknown_acc_msg = '' +
                    "<p>If you\’re unsure of your account name call your provider to check. Alternatively call us on 0800 321 3582.</p>";

            var unknown_type_msg = '' +
                    '<p>If you\’re unsure of your savings type call your provider to check. Alternatively call us on 0800 321 3582.</p>';

            {% block bestbuys_json_init %}

                {% get_bestbuys_json as bestbuy_json %}
                var bestbuysJSON = {{bestbuy_json|safe}};

                {% get_providers_bestbuy_json as json %}
                var productsJSON = {{json|safe}};
            {% endblock bestbuys_json_init %}

            {% get_maturity_based_accounts as json %}
            var maturity_basedJSON = {{json|safe}};


            $('select[name="provider"]', '#ac-account-form').change(function () {
                var $this = $(this);

                if ($this.val()) {
                    var $type_select = $('select[name="account_type"]');

                    var $allowed_options = [];

                    $.each(productsJSON, function (index, item) {
                        if (item.id == $this.val()) {
                            $allowed_options = item.bestbuys;
                        }
                    });
                    // obliterate the current select then replace with allowed options

                    var val = $type_select.find('option:selected').val();

                    $type_select.find('option').remove();

                    $.each($allowed_options, function (outer_index, outer_item) {

                        $.each(bestbuysJSON, function (inner_index, inner_item) {

                            if (inner_item.id == outer_item) {
                                $type_select.append($('<option>', {value: inner_item.id}).text(inner_item.title));
                            }
                        });
                    });

                    // now we see if we can remake the selected option
                    $type_select.prepend($('<option>', {value: ''}).text('Savings Type'));
                    $type_select.append($('<option>', {value: '0'}).text('Don\'t know'));

                    $type_select.val('');


                }

                return false;
            });


            $('select[name="provider"]', '#ac-account-form').change(function () {
                if ($(this).val() != '') {
                    //
                    completeToStep(1);

                    removeMessage($('li#provider'));

                    var provider = $(this).val();

                    // provider is completed on completion, must ensure the next tab is active
                    $('li[name="account-type"]').addClass('active');

                    if ($('select[name="account_type"]', '#ac-account-form').val() != '') {

                        var account_type = $(this).val();

                        if (hasBalance($('input[name="balance"]', '#ac-account-form'))) {

                            var balance = $('input[name="balance"]', '#ac-account-form').val();

                            updateAccounts();
                        }

                    }

                }
            });
            // check if all three have a value
            $('select[name="account_name"]', '#ac-account-form').live('change', function () {
                if ($(this).val() != '0') {
                    $('#tracker-content').children('.response-message').remove();
                    $('#result-button').show();
                }
            });

            $('input[name="balance"]').keypress(function (event) {
                return event.keyCode != 13;
            });

            /**
             * Depending on how this changes - we may want to show/hide the maturity date fields.
             * We look at some JSON fields which contain the ids which are maturity based
             */
            $('select[name="account_type"]', '#ac-account-form').change(function () {
                if ($(this).val() != '') {
                    //
                    completeToStep(2);

                    if ($(this).val() != '0') {
                        $('#tracker-content').children('.response-message').remove();
                        $('#result-button').show();
                    } else {
                        $('#result-button').hide();
                    }
                    var account_type = $(this).val();
                    $('li[name="balance"]').addClass('active');

                    var found = false;

                    $.each(maturity_basedJSON, function (index, item) {
                        if (item.id == account_type) {
                            found = true;
                        }
                    });

                    // TODO toggle several things
                    if (found == true) {
                        setMessage($('li#type'), info_type, frb_msg);
                        $('#id_balance').focus();

                        var $month_select = $('#id_maturity_date_month');
                        var $year_select = $('#id_maturity_date_year');
                        $month_select.find('option[value=0]').remove().end();
                        $year_select.find('option[value=0]').remove().end();

                        $month_select.prepend($('<option>', {value: '0'}).text('Month'));
                        $year_select.prepend($('<option>', {value: '0'}).text('Year'));


                        $('li#email').find('div.text').html("Your email address will be used to start the registration of your fixed rate products with Rate Tracker");

                        $("#result-button").attr("src", "/static/img/frbresults-small.png");
                        $('#maturity_date_group').show();


                        $('#account_name_group').hide();
                    } else {
                        removeMessage($('li#type'));

                        if ($(this).val() == '0') {
                            setMessage($(this).parents('li'), info_type, unknown_type_msg);
                        } else {

                        }

                        $('#maturity_date_group').hide();
                        $('li#email').find('div.text').html("Needed to get your results, and to register with Rate Tracker, so you'll know if your savings rate changes and where to get the best rate. You can unsubscribe at any point.");
                        $("#result-button").attr("src", "/static/img/rateresults-small.png");
                        $('#account_name_group').show();
                    }

                    if ($('select[name="provider"]', '#ac-account-form').val() != '') {

                        var provider = $(this).val();

                        if (hasBalance($('input[name="balance"]', '#ac-account-form'))) {
                            removeMessage($('li#balance'));
                            var balance = $('input[name="balance"]', '#ac-account-form').val();
                            $('li[name="balance"], li[name="account-name"]').addClass('active');
                            updateAccounts();
                        }
                    }
                }
            });

            $('select[name="product"]', '#ac-account-form').live('click', function (e) {
                if (($(this).val() != '') && ($(this).val() != '0')) {
                    $('#result-button').show();
                    return false;
                }
            });

            $('input[name="balance"]', '#ac-account-form').keyup(function (e) {
                var $li_element = $('li#balance');

                if (hasBalance($('input[name="balance"]', '#ac-account-form'))) {
                    //
                    completeToStep(3);

                    removeMessage($li_element);
                    var balance = $('input[name="balance"]', '#ac-account-form').val();

                    if ($('select[name="provider"]', '#ac-account-form').val() != '') {
                        var provider = $(this).val();

                        if ($('select[name="account_type"]', '#ac-account-form').val() != '') {
                            var account_type = $(this).val();


                            updateAccounts();

                        }
                    }
                } else {
                    setMessage($li_element, error_type, valid_balance_msg);
                }
                return false;
            });


            function hasBalance($element) {
                var value = $element.val();
                var pattern = /\d{1,3}(,\d{3})*(\.\d{2})?$/;

                if ((value != '') && (value != '0.00')) {
                    return value.match(pattern);
                }
                return false;
            }

            function updateAccounts() {
                var post_data = $('#ac-account-form').serialize();

                var $account_select = $('#id_product');
                if ($account_select.is(':visible') == false) {
                    return false;
                }

                var $type_select = $('#id_account_type');
                if ($type_select.val() == '' || $type_select.val() == '0') {
                    return false;
                }

//                $.get("{% url 'products_json' %}", post_data, function (data) {
//                    $account_select.find('option').remove();
//
//                    var $li_element = $('#account_name_group');
//                    if ((data) && (data.length > 0)) {
//
//                        var val = '<option value="">Account Name</option>';
//
//                        $.each(data, function (index, item) {
//                            val += ('<option value="' + item.id + '">' + item.title + '</option>');
//                        });
//                        $('#id_product').replaceWith('<select id="id_product" name="product" class="required number">' + val + '<option value="0">Don\'t know</option></select>');
//
//                        $('#result-button').show();
//
//                        removeMessage($li_element);
//                    } else {
//
//                        changeMessage($li_element, info_type, no_accounts_msg);
//                        $('#id_product').replaceWith('<select id="id_product" name="product" class="required number">' + '<option value="0">No Accounts</option></select>');
//                        $('#result-button').hide();
//                    }
//
//                    // ensure the submit button is shown and the response messages are clear?
//                    $('#tracker-content').children('.response-message').remove();
//
//                    return false;});

                $.ajax({
                    url: '{% url 'products_json' %}',
                    data: post_data,
                    success: function (data) {
                        $account_select.find('option').remove();

                        var $li_element = $('#account_name_group');
                        if ((data) && (data.length > 0)) {

                            var val = '<option value="">Account Name</option>';

                            $.each(data, function (index, item) {
                                val += ('<option value="' + item.id + '">' + item.title + '</option>');
                            });
                            $('#id_product').replaceWith('<select id="id_product" name="product" class="required number">' + val + '<option value="0">Don\'t know</option></select>');

                            $('#result-button').show();

                            removeMessage($li_element);
                        } else {

                            changeMessage($li_element, info_type, no_accounts_msg);
                            $('#id_product').replaceWith('<select id="id_product" name="product" class="required number">' + '<option value="0">No Accounts</option></select>');
                            $('#result-button').hide();
                        }

                        // ensure the submit button is shown and the response messages are clear?
                        $('#tracker-content').children('.response-message').remove();

                        return false;
                    },
                    headers: {
                        Authorization: 'Token 92ef25449a6b011c30bfda9973a0c3d59868d95c',
                        Accept: 'application/json'
                    }
                })

            }


            $('input[name="reset"]').click(function () {
                $('#ac-account-form')[0].reset();
                $('#result-button').show();
                $('#maturity_date_group').hide();
                $('#account_name_group').show();

                removeMessage($('ol.ac-account li'))
                completeToStep(0);
                return false;
            });

            /**
             *
             */
            function completeToStep(step) {
                $('ul#steps li').each(function (index, item) {
                    var $a = $(item).find('a');

                    if (index < step) {
                        if (!$a.hasClass('complete')) {
                            $a.addClass('complete').removeClass('active');
                        }
                    } else if (index == step) {
                        $a.addClass('active').removeClass('complete');
                    } else {
                        $a.removeClass('complete').removeClass('active');
                    }
                });

                // there is a fork around step 3,
                if (step >= 3) {
                    step = 6;
                }
                $('.ac-account li').each(function (index, item) {
                    if (index <= step) {
                        if (!$(item).hasClass('active')) {
                            $(item).addClass('active');
                        }
                    }
                });
            }

            $("#id_product").live('change', function () {
                var $this = $(this);
                var value = $this.val();
                if (value == "0") {
                    $('#result-button').hide();
                    setMessage($this.parents('li'), info_type, unknown_acc_msg);
                } else {
                    removeMessage($this.parents('li'));
                }
            });


            function removeMessage($li_element) {
                $li_element.removeClass('message').removeClass('errors');
                $li_element.find('a.ico-omrc').removeClass('active');
                $li_element.find('div.text').stop().hide();
            }


            function setMessage($li_element, message_type, msg) {
                $li_element.removeClass('message').removeClass('errors');

                $('ol.ac-account li').find('div.text').stop().hide();

                if (message_type == info_type) {
                    $li_element.addClass('message');
                } else {
                    $li_element.addClass('errors');
                }
                $li_element.find('div.text').html(msg).fadeIn(500).delay(3000).fadeOut(500);
                $li_element.find('a.ico').addClass('active');

            }

            function changeMessage($li_element, message_type, msg) {
                $li_element.removeClass('message').removeClass('errors');

                $('ol.ac-account li').find('div.text').stop().hide();

                if (message_type == info_type) {
                    $li_element.addClass('message');
                } else {
                    $li_element.addClass('errors');
                }

                $li_element.find('div.text').html(msg);
            }


        });
    </script>

    <script src="{{ STATIC_URL }}js/timformvalidation.js"></script>
{% endblock extra_scripts %}


{% block tracker_content %}
    {{ ratetracker_form.provider.errors }}
    <div id="wizardMain">
        <div id="widgetLabel">Take the One Minute Savings Rate Check</div>
        <div id="RTLogo"><span><img src="{{ STATIC_URL }}img/tri-lrg.png"
                                    alt="Rate Tracker Logo"/>    Rate Tracker</span></div>
        <div id="RTmsg">Has your bank lost interest in you? <br/><br/>Rate Tracker checks your savings rates,
            constantly, for free. We work, you relax
        </div>
        <div class="error" style="display:none;">
            <span></span>.<br clear="all"/>
        </div>
        <form id="ac-account-form"
              action="{% block form_endpoint %}{% url 'timrate_check' %}{% endblock form_endpoint %}#main" method="post"
              autocomplete="off" target="_blank">
            <input type="hidden" name="search" value="true"/>
            {% csrf_token %}
            {% for hidden_field in ratetracker_form.hidden_fields %}{{ hidden_field }}{% endfor %}
            <ol class="ac-account group">
                <li class="active group{% if ratetracker_form.provider.errors %} errors{% endif %}" data-step="1"
                    id="provider">

                    <div id="imgNumber"><img src="{{ STATIC_URL }}img/TiMNo1.png" alt="Select Provider"/></div>
                    <label for="id_provider"><span class="no one"></span>Your Provider</label>

                    <div class="input-wrap">{{ ratetracker_form.provider }}</div>

                    <div class="info">
                        <a class="ico-omrc" href="#"><img src="{{ STATIC_URL }}img/TiMInfo.png"/></a>

                        <div class="text">
                            <p>Select your bank or building society from the names listed in the drop down menu.</p>
                        </div>
                    </div>

                    <span class="loa"></span>
                </li>
                <li class="group active{% if ratetracker_form.account_type.errors %} errors{% endif %}{% if ratetracker_form.is_bound %} active{% endif %}"
                    data-step="2" name="account-type" id="type">
                    <div id="imgNumber"><img src="{{ STATIC_URL }}img/TiMNo2.png" alt="Savings Type"/></div>
                    <label for="id_account_type"><span class="no two"></span>Savings Type</label>

                    <div class="input-wrap">{{ ratetracker_form.account_type }}</div>

                    <div class="info">
                        <a class="ico-omrc active" href="#"><img src="{{ STATIC_URL }}img/TiMInfo.png"/></a>

                        <div class="text">
                            <p>The type of account you have, for example, Easy Access, ISA etc.</p>
                        </div>
                    </div>

                </li>
                <li class="group active{% if ratetracker_form.balance.errors %} errors{% endif %}{% if ratetracker_form.is_bound %} active{% endif %}"
                    data-step="3" name="balance" id="balance">

                    <div id="imgNumber"><img src="{{ STATIC_URL }}img/TiMNo3.png" alt="Current Balance"/></div>
                    <label for="balance" for="id_balance"><span class="no three"></span>Balance (&pound;)</label>

                    <div class="input-wrap">{{ ratetracker_form.balance }}</div>
                    <div class="info">
                        <a class="ico-omrc active" href="#"><img src="{{ STATIC_URL }}img/TiMInfo.png"/></a>

                        <div class="text">
                            <p>The accounts available automatically update when a balance is entered. Please note some
                                accounts have a minimum balance.</p>
                        </div>
                    </div>
                </li>
                <li class="group active {% if ratetracker_form.product.errors %} errors{% endif %}{% if ratetracker_form.is_bound %} active{% endif %}"
                    id="account_name_group" data-step="4" name="account-name" {% if ratetracker_form.set_reminder %}
                    style="display:none;"{% endif %}>
                    <div id="imgNumber"><img src="{{ STATIC_URL }}img/TiMNo4.png" alt="Select Account"/></div>
                    <label for="id_product"><span class="no four"></span>Account Name</label>

                    <div class="input-wrap">{{ ratetracker_form.product }}</div>

                    <div class="info">
                        <a class="ico-omrc" href="#"><img src="{{ STATIC_URL }}img/TiMInfo.png"/></a>

                        <div class="text">
                            <p>If you’re unsure of your account name call your provider to check. Alternatively call us
                                on 0800 321 3582.</p>
                        </div>
                    </div>

                </li>

                <li class="group maturity active {% if ratetracker_form.maturity_date.errors %} errors{% endif %}{% if ratetracker_form.is_bound %} active {% endif %}"
                    id="maturity_date_group" data-step="4" name="maturity-date"
                        {% if not ratetracker_form.set_reminder %} style="display:none;"{% endif %} >
                    <div id="imgNumber"><img src="{{ STATIC_URL }}img/TiMNo4.png" alt="Select Account"/></div>
                    <label for="id_maturity_date_day">Maturity date<span class="no four"></span></label>

                    <div class="input-wrap">
                        {{ ratetracker_form.maturity_date }}
                    </div>

                    <div class="info">
                        <div class="text">
                            <h2>If you don't know your Providers name</h2>

                            <p>If you are unsure of the type of savings account you have, take a look under the
                                different options available to see if you can find it, or ask your provider. We'll need
                                to know the account name too, so check this with them at the same time. You are welcome
                                to email us at <a
                                        href="mailto:info@savingschampion.co.uk">info@savingschampion.co.uk</a> with the
                                account name if you know it, and we'll look into it for you.</p>
                        </div>
                    </div>

                </li>

                <li class="group active{% if ratetracker_form.email.errors %} errors{% endif %} active" data-step="5"
                    name="email" id="email">

                    <div id="imgNumber"><img src="{{ STATIC_URL }}img/TiMNo5.png" alt="Current Balance"/></div>
                    <label for="email" for="id_email" class="emailLabel"><span class="no five"></span>Email</label>

                    <div class="input-wrap email">{{ ratetracker_form.email }}</div>
                    <div class="info">
                        <a class="ico-omrc" href="#"><img src="{{ STATIC_URL }}img/TiMInfo.png"/></a>

                        <div class="text">
                            <p>{% if ratetracker_form.email.errors %}
                                {% for error in ratetracker_form.email.errors %}{{ error }}{% endfor %}
                            {% else %}
                                Needed to get your results, and to register with Rate Tracker, so you'll know if your
                                savings rate changes and where to get the best rate. You can unsubscribe at any point.
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </li>
            </ol>
            <div id="buttonWrap">
                <input id="result-button" class="result-button" type="image"
                       src="{{ STATIC_URL }}img/{{ RATETRACKER_TYPE|lower }}results-small.png" value="view results"/>
            </div>
        </form>

    </div>
{% endblock tracker_content %}
