{% extends "base.html" %}
{% load page_tags static crispy_forms_tags %}

{% block title %}
    Wealth Management
{% endblock title %}

{% block bannertext %}
    <div id="left-banner">
        {% get_block ifa.incentive as message %}
        <h2 class="js-banner-title" style="font-size: 30px">{{ message.block_title }}</h2>
    </div>
{% endblock bannertext %}

{% block contenthtml %}
    {% get_block ifa.incentive as message %}
    <div id="ifa-landing">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            {% get_block ifa.nooffering as message %}
                            {{ message.text|safe }}
                        </div>
                        <div class="col-sm-4">
                            <img class="img-responsive" src="{% static 'img/ifa/ifa.jpg' %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {% crispy bj_form %}
                        </div>
                        <div class="col-sm-6">
                            <div class="well">
                                {% get_block ifa.nooffering_persuasion as message %}
                                {{ message.text|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% get_block ifa.nooffering_considerations as message %}
                            {{ message.text|safe }}
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-sm-6">
                            {% get_block ifa.nooffering_privacy as message %}
                            {{ message.text|safe }}
                        </div>
                        <div class="col-sm-6">
                            {% crispy bj_form2 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenthtml %}


