{% load bestbuy_tags %}
<div id="news-sidebar" class="col-sm-3">
    <div class="left-nav">
        <div class="news-links panel panel-default">
            <div class="panel-body">
                <p class="nav-title">Savings News &amp; Alerts</p>
                <p class="nav-subtitle">Written by our founders Anna and Sue</p>
                <ul class="nav nav-pills nav-stacked">
                    {% if post %}
                        <li>
                            <a href="{% url 'news_index' %}">All News</a>
                        </li>
                        {% if post.type %}
                            <li class="active">
                                <a href="{% url 'article_index' %}">Savings News</a>
                            </li>
                            <li>
                                <a href="{% url 'blog_index' %}">Ask Anna</a>
                            </li>
                        {% else %}
                            {% if not post.bestbuy %}
                                <li>
                                    <a href="{% url 'article_index' %}">Savings News</a>
                                </li>
                                <li class="active">
                                    <a href="{% url 'blog_index' %}">Ask Anna</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'article_index' %}">Savings News</a>
                                </li>
                                <li>
                                    <a href="{% url 'blog_index' %}">Ask Anna</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li class="bottom">
                            <a href="{% url 'in_the_press' %}">In the Press</a>
                        </li>
                    {% else %}
                        <li {% if news_index %}class="active"{% endif %}>
                            <a href="{% url 'news_index' %}">All News</a>
                        </li>
                        <li {% if article_index %}class="active"{% endif %}>
                            <a href="{% url 'article_index' %}">Savings News</a>
                        </li>
                        <li {% if blog_index %}class="active"{% endif %}>
                            <a href="{% url 'blog_index' %}">Ask Anna</a>
                        </li>
                        <li class="bottom {% if activeslug %}active{% endif %}">
                            <a href="{% url 'in_the_press' %}">In the Press</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="rate-alerts panel panel-default">
            <div class="panel-body">
                <p class="nav-title">Rate Alerts</p>

                <p class="nav-subtitle">Regular updates on the savings market</p>

                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if bestbuyslug == 'overview' %}active {% endif %}">
                        <a href="{% url 'view_ratealert_overview' %}">
                            Latest Rate Alert
                        </a>
                    </li>
                    <li class="bottom {% if bestbuyslug == "Archive" %}active {% endif %}">
                        <a href="{% url 'ratealert_index' %}">
                            Archive
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% if post.show_iht_advert %}
            {% include 'general/sidebar-iht-advert.html' %}
        {% else %}
            {% include "general/sidebar-signup.html" %}
        {% endif %}
    </div>
</div>